{% extends "cp/base.html" %}
{% load i18n %}
{% block title %} {% trans "Бонусная программа" %} {{ title }}{% endblock %}
{% block content %}
    {# App Title #}
    <h1 class="content-title">{% block cptitle %} {% trans "Бонусная программа" %} {% endblock %}</h1>
    </header>
    {# /side left #}
    {# define content row #}
    <div class="content-spliter">
        {# define apps here #}
        <section id="content-main" class="content-main">
            {# your app content #}
            <div class="content-app fixed-header">
                <div class="app-header">
                    <div class="col-lg-3">
                        <input type="text" class="form-control" name="ref"
                               placeholder="{% trans "Реферальная ссылка" %}"
                               value="http://euro-paradise.com/ref/{{ user.id }}/">
                    </div>
                    <div class="col-lg-3">
                        <a href="http://euro-paradise.com/ref/{{ user.id }}/" class="btn btn-success btn-extend">
                            {% trans "Регистрация партнера" %} <i class="icon ion-ios7-personadd"></i>
                        </a>
                    </div>
                </div>
                {# /app header #}
                {# app body #}
                <div class="app-body">
                    {# app content here #}
                    <div class="box">
                        <div class="table-responsive">
                            <h2 class="box-heading">{% trans "Бонус пункты" %}: {{ user.partners.bal|default:"0" }}</h2>
                            <table id="tickets" class="table table-hover datatables">
                                <thead>
                                <tr>
                                    <th>{% trans "Псевдоним" %}</th>
                                    <th>{% trans "Дата регистрации" %}</th>
                                    <th>{% trans "Бонус пункты" %}</th>
                                    <th>{% trans "Количество субпартнёров" %}</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for item in p %}
                                    <tr class="odd gradeX table-ticket">
                                        <td>{{ item }}</td>
                                        <td>{{ item.user.date_joined|date:'d-m-Y' }}</td>
                                        <td>{{ item.profit|default:"-" }}</td>
                                        <td>{{ item.user.partners.countp }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# /content main #}
    </div>{# /content spliter #}
{% endblock %}