{% extends "cp/base.html" %}
{% load i18n %}
{% block title %} {% trans "Посмотреть счёт" %}  {{ title }}{% endblock %}
{% block content %}
    <!-- App Title -->
    <h1 class="content-title">{% block cptitle %} {% trans "Посмотреть счёт" %}  {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
<!-- define apps here -->
<section id="content-main" class="content-main">
<!-- your app content -->
<div class="content-app fixed-header">
<!-- app header -->
<div class="app-header">
    <div class="pull-right">
        <a href="/cp/printinvb/{{ i.id }}/" target="_blank" class="btn btn-default" role="button">{% trans "Распечатать" %}</a>
    </div>
</div><!-- /app header -->

<!-- app body -->
<div class="app-body">
<!-- app content here -->
    <!-- invoice -->
    <div class="center-box center-block">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-body-heading bordered">
                    <h3 class="panel-body-title">{% trans "Номер счёта" %} #{{ i.id }} <small>EURO - PARADISE D.O.O. Podgorica</small></h3>
                </div>
                <div class="row invoice-desc">
                    <div class="col-md-4">
                        <b>{% trans "Заказчик" %}</b>
                        <br>
                        <p>{% trans "ФИО" %}: {{ i.user.last_name }} {{ i.user.first_name }}</p>
                        <p>{% trans "Страна, город" %}: {{ i.user.userinfo.city.name }} {{ i.user.userinfo.country.name }} </p>
                        <p>Email: {{ i.user.email }}</p>
                    </div>
                    <div class="col-md-4">
                        <b>{% trans "Реквизиты для оплаты" %}</b>
                        <br>
                        <p>{% trans "Наименование Банка" %}: {{ i.system.bankname }}</p>
                        <p>{% trans "Адрес Банка" %}: {{ i.system.bankaddress }}</p>
                        <p>{% trans "Имя получателя" %}: {{ i.system.recipientname }}</p>
                        <p>{% trans "Адрес получателя" %}: {{ i.system.recipientaddress }}</p>
                        <p>{% trans "Номер счета" %}: {{ i.system.number }}</p>
                        <p>BIC: {{ i.system.bic }}</p>
                        <p>SWIFT: {{ i.system.swift }}</p>
                        <p>{% trans "Назначение платежа" %}: {{ i.id }}-{{ i.ticket.numbert }}</p>
                    </div>
                    <div class="col-md-4">
                        <b>{% trans "Информация по платежу" %}</b>
                        <br>
                        <p>{% trans "Номер счёта" %}: {{ i.id }}</p>
                        <p>{% trans "Дата создания счёта" %}: {{ i.date|date:'d-m-Y G:i' }}</p>
                        <p>{% trans "Срок оплаты счёта до" %} {{ i.ticket.bdate|date:'d-m-Y G:i' }}</p>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>{% trans "Номер счёта" %}</th>
                            <th>{% trans "Номер билета" %}</th>
                            <th>{% trans "Тип розыгрыша" %}</th>
                            <th>{% trans "Сумма к оплате" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ i.id }}</td>
                            <td class="text-right">{{ i.ticket.numbert }}</td>
                            <td class="text-right">{% trans i.ticket.game.series.type.name %}</td>
                            <td class="text-right">&euro;{{ i.price }}.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/invoice-->
</div>
</section>
<!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}