{% extends "cp/base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %}{% trans "Уведомления системы " %}{% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-spliter">
            <div class="message">
                {% if message|length != 0 %}
                <div class="message-content">
                    <div class="message-content-heading">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown">
                                <i class="icon ion-ios7-arrow-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="multiple-read-msg" href="#">{% trans "Отметить как прочитанные" %}</a></li>
                                <li><a class="multiple-unread-msg" href="#">{% trans "Отметить как непрочитанные" %}</a></li>
                                <li class="divider"></li>
                                <li><a class="multiple-rm-msg" href="#">{% trans "Удалить" %}</a></li>
                            </ul>
                        </div>
                        <h3><small>{% load mcount %}{% mcount request.user as mc %}{{ mc }} {% trans "Непрочитанных " %}</small></h3>
                    </div><!-- /message-content-heading -->

                    <div class="message-content-body">
                        <ul class="mc-group">
                            {% for item in message %}
                            <li class="mc-group-item {% if item.read %} read {% else %} unread {% endif %}{% if forloop.first %} active {% endif %}" data-msg-id="{{ item.id }}">
                                <div class="mcgi-actions">
                                    <a class="rm-msg" role="button" title="Delete">
                                        <i class="icon ion-ios7-trash"></i>
                                    </a>
                                </div><!-- /mcgi-actions -->
                                <div class="mcgi-checker">
                                    <input class="icheck" name="mcgi-checkbox" type="checkbox" />
                                </div><!-- /mcgi-checker -->
                                <!--<h3 class="mcgi-sender"></h3>-->
                                <p class="mcgi-subject">{{ item.title }}</p>
                                <small class="mcgi-time">{{ item.date|date:'d-m-Y G:i' }}</small>
                            </li><!-- /mc-group-item -->
                            {% endfor %}
                        </ul><!-- /mc-group -->
                    </div><!-- /message-content-body -->
                </div><!-- /message-content -->

                <div class="message-preview open">
                    <div class="message-preview-heading">
                        <div class="pull-left" style="margin-left:-12px">
                            <a class="back-to-mc-group btn btn-icon view-sm" role="button" title="Back">
                                <i class="icon ion-arrow-left-c text-primary"></i>
                            </a><!-- only use on small phone viewport -->
                            <a class="btn btn-icon rm-msg-preview" role="button" title="Trash">
                                <i class="icon ion-ios7-trash text-primary"></i>
                            </a>
                        </div><!-- /left preview actions -->
                    </div><!-- /message-preview-heading -->

                    <div class="message-preview-content" data-msg-preview-id="{{ message.0.id }}">
                        <div class="pull-left mpc-time">
                            <small class="text-muted">{{ message.0.date|date:'d-m-Y G:i' }}</small>
                        </div>
                        <h3 class="mpc-subject">{{ message.0.title }}</h3>
                        <div class="mpc-msg">
                            <p>{% autoescape off %}{{ message.0.text }}{% endautoescape %}</p>
                        </div>
                    </div><!-- /message-preview-content -->
                </div><!-- /message-preview -->
                {% else %}
                <div class="row text-center">
                    <h3><small> {% trans "У вас нет сообщений" %} </small></h3>
                </div>
                {% endif %}
            </div><!-- /message -->
        </div><!-- /content spliter -->
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}