{% extends "cp/base.html" %}
{% load i18n %}
{% block title %} {% trans "Платежи" %} {{ title }}{% endblock %}
{% block content %}
    {# App Title #}
    <h1 class="content-title">{% block cptitle %}{% trans "Платежи" %} {% endblock %}</h1>
    </header>
    {# /side left #}
    {# define content row #}
    <div class="content-spliter">
    {# define apps here #}
    <section id="content-main" class="content-main">
    {# your app content #}
    <div class="content-app fixed-header">
    <div class="app-header">
        <div class="hide-sm">
            <a {% if user.partners.bal < 100 %}data-transactions="false"{% else %}data-transactions="true"
               data-toggle="transition-layout" href="#layout-transactions"{% endif %}
               class="btn btn-ion btn-info transactions-btn" role="button">
                {% trans "Транзакции" %}
            </a>
            <a data-toggle="transition-layout" href="#layout-operations" class="btn btn-ion btn-default active"
               role="button">
                {% trans "Денежные операции" %}
            </a>
            <a data-toggle="transition-layout" href="#layout-output" class="btn btn-ion btn-default" role="button">
                {% trans "Вывод средств" %}
            </a>
            <a data-toggle="transition-layout" href="#layout-individual" class="btn btn-ion btn-default" role="button">
                {% trans "Индивидуальные бонусы" %}
            </a>
            <a data-toggle="transition-layout" href="#layout-structure" class="btn btn-ion btn-default" role="button">
                {% trans "Структурные бонусы" %}
            </a>
        </div>
        <div class="view-sm">
            <div class="btn-group">
                <a href="#" class="btn btn-ion btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="icon ion-gear-b"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="btn btn-ion btn-success" role="button">
                        {% trans "Реферальная ссылка" %}
                    </a></li>
                    <li><a {% if user.partners.bal < 100 %}data-transactions="false"{% else %}data-transactions="true"
                           data-toggle="transition-layout" href="#layout-transactions"{% endif %}
                           class="btn btn-ion btn-info transactions-btn" role="button">
                        {% trans "Транзакции" %}
                    </a></li>
                    <li><a data-toggle="transition-layout" href="#layout-operations"
                           class="btn btn-ion btn-default active" role="button">
                        {% trans "Денежные операции" %}
                    </a></li>
                    <li><a data-toggle="transition-layout" href="#layout-output" class="btn btn-ion btn-default"
                           role="button">
                        {% trans "Вывод средств" %}
                    </a></li>
                    <li><a data-toggle="transition-layout" href="#layout-individual" class="btn btn-ion btn-default"
                           role="button">
                        {% trans "Индивидуальные бонусы" %}
                    </a></li>
                    <li><a data-toggle="transition-layout" href="#layout-structure" class="btn btn-ion btn-default"
                           role="button">
                        {% trans "Структурные бонусы" %}
                    </a></li>
                </ul>
            </div>
        </div>
        {# /mobile app header #}
    </div>
    {# /app header #}
    {# app body #}
    <div class="app-body">
    {# app content here #}
    <div class="transition-layout" id="layout-operations">
        <div class="box">
            <div class="table-responsive">
                <h2 class="box-heading">{% trans "Денежные операции" %}</h2>
                <table class="table table-hover operations">
                    <thead>
                    <tr>
                        <th>{% trans "Номер платежа" %}</th>
                        <th>{% trans "Тип платежа" %}</th>
                        <th>{% trans "Тип оплаты" %}</th>
                        <th>{% trans "Количество пунктов" %}</th>
                        <th>{% trans "Сумма в" %} &euro;</th>
                        <th>{% trans "Статус" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in invoicep %}
                        <tr class="odd gradeA">
                            <td>
                                <a href="/cp/invoicepticket/{{ item.ticket.id }}/">{{ item.id }}</a>
                            </td>
                            <td>{% trans "Покупка билетов" %}</td>
                            <td>{% trans "Платежная система" %}</td>
                            <td>{{ item.price }}</td>
                            <td>&euro;{{ item.price }}.00</td>
                            <td>
                                <span class="label label-sm {% if item.status == 0 %} label-primary">
                                    {% trans "В обработке" %} {% elif item.status == 1 %}label-info">
                                    {% trans "Подтверждён" %} {% elif item.status == 2 %}label-danger">
                                    {% trans "Отклонён" %} {% endif %} </span>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for item in invoiceb %}
                        <tr class="odd gradeA">
                            <td>
                                <a href="/cp/invoicebticket/{{ item.ticket.id }}/">{{ item.id }}</a>
                            </td>
                            <td>{% trans "Покупка билетов" %}</td>
                            <td>{% trans "Банковский платеж" %}</td>
                            <td>{{ item.price }}</td>
                            <td>&euro;{{ item.price }}.00</td>
                            <td>
                                <span class="label label-sm {% if item.status == 0 %} label-primary">
                                    {% trans "В обработке" %} {% elif item.status == 1 %}label-info">
                                    {% trans "Подтверждён" %} {% elif item.status == 2 %}label-danger">
                                    {% trans "Отклонён" %} {% endif %} </span>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for item in invoicebonus %}
                        <tr class="odd gradeA">
                            <td>
                                <a href="/cp/invoicebonusticket/{{ item.ticket.id }}/">{{ item.id }}</a>
                            </td>
                            <td>{% trans "Покупка билетов" %}</td>
                            <td>{% trans "Оплата бонусами" %}</td>
                            <td>{{ item.price }}</td>
                            <td>&euro;{{ item.price }}.00</td>
                            <td>
                                <span class="label label-sm label-info">{% trans "Подтверждён" %}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="transition-layout" id="layout-output">
        <div class="box">
            <div class="table-responsive">
                <h2 class="box-heading">{% trans "Вывод средств" %}</h2>
                <table class="table table-hover operations">
                    <thead>
                    <tr>
                        <th>{% trans "Номер транзакции" %}</th>
                        <th>{% trans "Наименование Банка" %}</th>
                        <th>{% trans "Номер счета" %}</th>
                        <th>{% trans "Количество пунктов" %}</th>
                        <th>{% trans "Сумма в" %} &euro;</th>
                        <th>{% trans "Статус" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in user.wreq_set.all %}
                        <tr class="odd gradeA">
                            <td>
                                <a href="#">{{ item.id }}</a>
                            </td>
                            <td>{{ item.bankname }}</td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.points }}</td>
                            <td>&euro;{{ item.points }}</td>
                            <td>
                                <span class="label label-sm {% if item.status == 0 %} label-primary">
                                    {% trans "В обработке" %} {% elif item.status == 1 %}label-info">
                                    {% trans "Подтверждён" %} {% elif item.status == 2 %}label-danger">
                                    {% trans "Отклонён" %} {% endif %} </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="transition-layout" id="layout-individual">
        <div class="box">
            <div class="table-responsive">
                <h2 class="box-heading">{% trans "Индивидуальные бонусы" %}</h2>
                <table class="table table-hover individual">
                    <thead>
                    <tr>
                        <th>{% trans "Псевдоним" %}</th>
                        <th>{% trans "Дата регистрации" %}</th>
                        <th>{% trans "Бонус" %}</th>
                        <th>{% trans "Количество субпартнёров" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in 1l %}
                        <tr class="odd gradeA">
                            <td>
                                <a href="#">{{ item.profit }}</a>
                            </td>
                            <td>{{ item.user.date_joined|date:'d-m-Y' }}</td>
                            <td>{{ item.profit.profit|default:"-" }}</td>
                            <td>
                                {{ item.user.partners.countp }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="transition-layout" id="layout-structure">
        <div class="box">
            <div class="table-responsive">
                <h2 class="box-heading">{% trans "Структурные бонусы" %}</h2>
                <table class="table table-hover structure">
                    <thead>
                    <tr>
                        <th>{% trans "Псевдоним" %}</th>
                        <th>{% trans "Дата регистрации" %}</th>
                        <th>{% trans "Бонус" %}</th>
                        <th>{% trans "Количество субпартнёров" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in sp %}
                        <tr class="odd gradeA">
                            <td>
                                <a href="#">{{ item.user }}</a>
                            </td>
                            <td>{{ item.user.date_joined|date:'d-m-Y' }}</td>
                            <td>{{ item.profit|default:"Нет" }}</td>
                            <td>
                                {{ item.user.partners.countp }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="transition-layout" id="layout-transactions">
        <div style="height: 880px">
            <div class="box col-sm-6">
                <h2 class="box-heading">{% trans "Обналичить пункты" %}</h2>

                <p><a href="#">{% trans "Количество пунктов" %}: <span class="badge">{{ user.partners.bal }}</span></a>
                </p>

                <p><a href="#">{% trans "Сумма в" %} &euro;: <span class="badge">{{ user.partners.bal }}</span></a></p>

                <form class="form-horizontal" id="cashtrans" action="/cp/cashtrans/" method="post" role="form">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="points">{% trans "Бонусы" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="points" name="points"
                                       placeholder="{% trans "Количество бонусов на вывод" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="name">{% trans "Имя" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="name" name="name"
                                       placeholder="{% trans "Имя получателя" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="address">{% trans "Адрес" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="address" name="address"
                                       placeholder="{% trans "Укажите свой адрес" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="bankacc">{% trans "Банковский счёт" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="bankacc" name="bankacc"
                                       placeholder="{% trans "Укажите свой номёр счёта в банке" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label"
                                   for="bankname">{% trans "Наименование банка" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="bankname" name="bankname"
                                       placeholder="{% trans "Укажите наименование банка" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="bankaddress">{% trans "Адрес банка" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="bankaddress"
                                       name="bankaddress" placeholder="{% trans "Укажите адрес банка" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="swift">SWIFT</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="swift" name="swift"
                                       placeholder="{% trans "Введите" %} SWIFT">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="iban">IBAN</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="iban" name="iban"
                                       placeholder="{% trans "Введите" %} IBAN">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="reset" class="btn btn-ion btn-danger"><i
                                        class="icon ion-ios7-refresh-outline"></i> {% trans "Сброс" %}</button>
                                <button type="submit" id="cashtransmsg" class="btn btn-ion btn-success"><i
                                        class="icon ion-ios7-paperplane"></i>{% trans "Отправить заявку" %}</button>
                            </div>
                        </div>
                        {# /form-group #}
                    </fieldset>
                </form>
                {# /form #}
            </div>
            {# /box #}
            <div class="box col-sm-6">
                <h2 class="box-heading">{% trans "Внутренний перевод" %}</h2>

                <p><a href="#">{% trans "Количество пунктов" %}: <span class="badge">{{ user.partners.bal }}</span></a>
                </p>

                <form class="form-horizontal" id="inner" action="/cp/inner/" method="post" role="form">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="pointsamount">{% trans "Бонусы" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="pointsamount"
                                       name="pointsamount"
                                       placeholder="{% trans "Введите количестве бонусов для перевода" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="login">{% trans "Логин" %}</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control form-flat form-ion" id="login" name="login"
                                       placeholder="{% trans "Введите логин вашего партнёра" %}">
                            </div>
                        </div>
                        {# /form-group #}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" id="innermsg" class="btn btn-ion btn-success"><i
                                        class="icon ion-ios7-paperplane"></i> {% trans "Отправить заявку" %}</button>
                            </div>
                        </div>
                        {# /form-group #}
                    </fieldset>
                </form>
                {# /form #}
            </div>
            {# /box #}
        </div>
    </div>
    </div>
    </div>
    </section>
    {# /content main #}
    </div>{# /content spliter #}
{% endblock %}