<!DOCTYPE html>
<html>
<head>
    {% load i18n %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <title>Печать счёта</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/st/cp/app/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/st/cp/app/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/st/cp/app/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/st/cp/app/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/st/cp/app/ico/favico.png">
    <link rel="shortcut icon" href="/st/cp/app/ico/favico.ico">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="/st/cp/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/st/cp/app/css/admin.css" rel="stylesheet" />
    <link href="/st/cp/app/css/admin-theme-default.css" rel="stylesheet" />
</head>
<body>
<section id="wrapper" class="container bg-cloud">
    <div class="invoice-print center-block">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-body-heading bordered">
                    <h3 class="panel-body-title">{% trans "Номер счёта" %} #{{ i.id }} <small>EURO - PARADISE D.O.O. Podgorica</small></h3>
                </div>
                <div class="row invoice-desc">
                    <div class="col-md-4">
                        <b>{% trans "Заказчик" %}</b>
                        <br>
                        <p>{% trans "ФИО" %}: {{ i.user.last_name }} {{ i.user.first_name }}</p>
                        <p>{% trans "Страна, город" %}: {{ i.user.userinfo.city.name }} {{ i.user.userinfo.country.name }} </p>
                        <p>Email: {{ i.user.email }}</p>
                    </div>
                    <div class="col-md-4">
                        <b>{% trans "Реквизиты для оплаты" %}</b>
                        <br>
                        <p>{% trans "Наименование Банка" %}: {{ i.system.bankname }}</p>
                        <p>{% trans "Адрес Банка" %}: {{ i.system.bankaddress }}</p>
                        <p>{% trans "Имя получателя" %}: {{ i.system.recipientname }}</p>
                        <p>{% trans "Адрес получателя" %}: {{ i.system.recipientaddress }}</p>
                        <p>{% trans "Номер счета" %}: {{ i.system.number }}</p>
                        <p>BIC: {{ i.system.bic }}</p>
                        <p>SWIFT: {{ i.system.swift }}</p>
                        <p>{% trans "Назначение платежа" %}: {{ i.id }}-{{ i.ticket.numbert }}</p>
                    </div>
                    <div class="col-md-4">
                        <b>{% trans "Информация по платежу" %}</b>
                        <br>
                        <p>{% trans "Номер счёта" %}: {{ i.id }}</p>
                        <p>{% trans "Дата создания счёта" %}: {{ i.date|date:'d-m-Y G:i' }}</p>
                        <p>{% trans "Срок оплаты счёта до" %} {{ i.ticket.bdate|date:'d-m-Y G:i' }}</p>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>{% trans "Номер счёта" %}</th>
                            <th>{% trans "Номер билета" %}</th>
                            <th>{% trans "Тип розыгрыша" %}</th>
                            <th>{% trans "Сумма к оплате" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ i.id }}</td>
                            <td class="text-right">{{ i.ticket.numbert }}</td>
                            <td class="text-right">{% trans i.ticket.game.series.type.name %}</td>
                            <td class="text-right">&euro;{{ i.price }}.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section><!-- /wrapper -->
<script src="/st/cp/jquery/jquery.js"></script>
<script src="/st/cp/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>