{% extends "cp/base.html" %}
{% load i18n %}
{% block title %} {% trans "Личные данные" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Личные данные" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header" style="padding-bottom: 0px;">
            <!-- app body -->
            <div class="app-body">
                <!-- app content here -->
                <div class="profile-cover">
                    <div class="pc-img">
                        <div class="pc-cover-change">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-ion btn-danger btn-file">
                                                <span class="fileinput-new">{% trans "Сменить фото" %}</span>
                                                <span class="fileinput-exists">{% trans "Сменить фото" %}</span>
                                                <input type="file" name="cover-changer" accept="image/*">
                                            </span>
                                <!-- <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a> -->
                            </div><!-- /fileinput -->
                        </div>
                        <img src="/st/cp/app/img/cover.jpg" alt=""><!-- /img cover -->
                    </div><!-- /profile-cover-img -->

                    <div class="pc-details">
                        <img class="pc-details-bg" src="/st/cp/app/img/cover-blur.jpg" alt=""><!-- /as bg pc-details -->
                        <div class="pc-details-content">
                            <div class="pc-details-pp">
                                <div class="pc-pp-change">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <span class="btn btn-sm btn-flat btn-danger btn-file">
                                                        <span class="fileinput-new"><i class="icon ion-camera"></i></span>
                                                        <span class="fileinput-exists"><i class="icon ion-camera"></i></span>
                                                        <input type="file" name="pp-changer" accept="image/*">
                                                    </span>
                                    </div><!-- /fileinput -->
                                </div>
                                <img src="/st/cp/app/img/avatar4.png" alt="" class="img-circle" width="128" /><!-- /photo profile -->
                            </div>
                            <h3>{{ user.username }}</h3>
                            <p>{% trans "Партнёров в сети" %}: ***</p>

                            <div class="pc-socials">
                                <a href="#" class="btn btn-flat btn-default btn-sm">
                                    &nbsp;<i class="icon ion-social-facebook text-info"></i>&nbsp;
                                </a>
                                <a href="#" class="btn btn-flat btn-default btn-sm">
                                    <i class="icon ion-social-googleplus text-danger"></i>
                                </a>
                                <a href="#" class="btn btn-flat btn-default btn-sm">
                                    <i class="icon ion-social-twitter text-info"></i>
                                </a>
                            </div>
                        </div><!-- /profile-cover-details-content -->
                    </div><!-- /profile-cover-details -->
                </div><!-- /profile-cover -->

                <!-- magic-layout -->
                <div class="magic-layout" style="min-height: 800px;">
                    <div class="panel panel-default magic-element width-full">
                        <div class="bordered-smart"></div>
                        <div class="panel-body">
                            <div class="panel-body-heading">
                                <h3 class="pb-title">{% trans "Карточка пользователя" %}</h3>
                            </div>
                            <form class="form-horizontal" id="profile_form" method="post" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="name">{% trans "Изменить имя" %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-flat form-ion" id="name" name="name"  placeholder="{% trans "Изменить имя" %}" value="{{ user.first_name }}" disabled>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="surname">{% trans "Изменить фамилию" %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-flat form-ion" id="surname" name="surname" placeholder="{% trans "Изменить фамилию" %}" value="{{ user.last_name }}" disabled>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{% trans "Изменить дату рождения" %}</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="birthday" value="{{ user.userinfo.bday|date:'d/m/Y' }}">
                                        <div class="col-sm-2" style="padding-left:0">
                                            <div class="form-group" style="margin: 0">
                                                <select name="day" class="form-control form-flat form-ion" value="{{ user.userinfo.bday|date:'d' }}"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin: 0">
                                                <select name="month" class="form-control form-flat form-ion" value="{{ user.userinfo.bday|date:'m' }}">
                                                    <option selected disabled>{% trans "Месяц" %}:</option>
                                                    <option value="01">{% trans "Января" %}</option>
                                                    <option value="02">{% trans "Февраля" %}</option>
                                                    <option value="03">{% trans "Марта" %}</option>
                                                    <option value="04">{% trans "Апреля" %}</option>
                                                    <option value="05">{% trans "Мая" %}</option>
                                                    <option value="06">{% trans "Июня" %}</option>
                                                    <option value="07">{% trans "Июля" %}</option>
                                                    <option value="08">{% trans "Августа" %}</option>
                                                    <option value="09">{% trans "Сентября" %}</option>
                                                    <option value="10">{% trans "Октября" %}</option>
                                                    <option value="11">{% trans "Ноября" %}</option>
                                                    <option value="12">{% trans "Декабря" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group" style="margin: 0">
                                                <select name="year" class="form-control form-flat form-ion" value="{{ user.userinfo.bday|date:'Y' }}">
                                                    <option selected disabled>{% trans "Год" %}:</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="country">{% trans "Изменить страну" %}</label>
                                    <div class="col-sm-10">
                                        <select id="countries_states1" class="form-control form-flat form-ion bfh-countries" id="country" data-country="{% if user.userinfo.country.pcode %}{{ user.userinfo.country.pcode }}{% else %}RU{% endif %}" blank="false" name="country"></select>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="city">{% trans "Изменить город" %}</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-flat form-ion bfh-states" id="city" data-country="countries_states1" data-state="{{ user.userinfo.city.code }}" blank="false" name="city"></select>
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="phone">{% trans "Изменить телефон" %}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-flat form-ion bfh-phone" id="phone" name="phone" data-country="countries_states1" value="{{ user.userinfo.phone }}">
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="skype">{% trans "Изменить" %}Skype</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control form-flat form-ion" id="skype" name="skype" placeholder="{% trans "Изменить" %}Skype" value="{{ user.userinfo.skype }}">
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="email">{% trans "Изменить" %}email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control form-flat form-ion" id="email" name="email" placeholder="{% trans "Изменить" %}email" value="{{ user.email }}">
                                    </div>
                                </div><!-- /form-group -->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10 text-center">
                                        <button data-toggle="modal" data-target="#change_pass" class="btn btn-ion btn-danger"><i class="icon ion-ios7-refresh-outline"></i> {% trans "Изменить пароль" %}</button>
                                        <button type="submit" id="edit" class="btn btn-ion btn-success"><i class="icon ion-edit"></i> {% trans "Изменить личные данные" %}</button>
                                    </div>
                                </div><!-- /form-group -->
                            </form>
                        </div><!-- /panel-body -->
                    </div><!-- /panel -->
                </div><!-- /magic-layout -->
            </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}