{% extends "cp/base.html" %}
{% load i18n %}
{% block title %} {% trans "Мои билеты" %} {{ title }}{% endblock %}
{% block content %}
    {# App Title #}
    <h1 class="content-title">{% block cptitle %} {% trans "Мои билеты" %} {% endblock %}</h1>
    </header>
    {# /side left #}
    {# define content row #}
    <div class="content-spliter">
        {# define apps here #}
        <section id="content-main" class="content-main">
            {# your app content #}
            <div class="content-app fixed-header">

                {# app body #}
                <div class="app-body">
                    {# app content here #}
                    <div class="box">
                        <div class="table-responsive">
                            <table id="tickets" class="table table-hover datatables">
                                <thead>
                                <tr>
                                    <th>{% trans "Номер билета" %}</th>
                                    <th>{% trans "Номер игры" %}</th>
                                    <th>{% trans "Тип розыгрыша" %}</th>
                                    <th>{% trans "Стоимость билета" %}</th>
                                    <th>{% trans "Статус" %}</th>
                                    <th>{% trans "Действия" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in tickets %}
                                    <tr class="odd gradeA table-ticket" data-ticket-id="{{ item.id }}">
                                        <td>
                                            <a href="#">{{ item.numbert }}</a>
                                        </td>
                                        <td>{{ item.game.num }}</td>
                                        <td>{% trans item.game.series.type.name %}</td>
                                        <td>&euro;{{ item.price }}</td>
                                        <td class="ticket-status">
                                            <span class="label label-sm  {% if item.status == 0 %} label-primary">
                                                {% trans "Забронирован до" %}
                                                {{ item.bdate|date:'d-m-Y G:i' }} {% elif item.status == 1 %}
                                                label-warning"> {% trans "Ожидание" %} {% elif item.status == 2 %}
                                                label-default"> {% trans "Разыгран" %} {% elif item.status == 3 %}
                                                label-success "> {% trans "Выйгран" %} {% elif item.status == 4 %}
                                                label-info "> {% trans "Подтвержден" %} {% elif item.status == 5 %}
                                                label-danger "> {% trans "Аннулирован" %} {% elif item.status == 6 %}
                                                label-default"> {% trans "Не определен" %} {% endif %}</span>
                                        </td>
                                        <td>
                                            <div class="hide-sm">
                                                <p style="margin: 0 0 0px;">
                                                    <a href="#" role="button"
                                                       class="btn btn-sm btn-ion btn-success payments-ticket"
                                                            {% if item.status != 0 %}
                                                       style="display:none" {% endif %} > {% trans "Оплатить" %} <i
                                                            class="icon ion-card"></i></a>
                                                    <a href="#" role="button"
                                                       class="btn btn-sm btn-ion btn-danger cancel-ticket"
                                                            {% if item.status == 2 or item.status == 3 or item.status == 4 %}
                                                       style="display:none"{% endif %}>{% trans "Аннулировать" %} <i
                                                            class="icon ion-ios7-trash"></i></a>
                                                    <a href="/cp/invoice{% if item.invoiceb %}b{% elif item.invoicep %}p{% elif item.invoicebonus %}bonus{% endif %}ticket/{{ item.id }}/"
                                                       role="button" class="btn btn-sm btn-ion btn-info"
                                                            {% if item.status == 0 %}
                                                       style="display:none" {% endif %}>{% trans "Посмотреть счёт" %} <i
                                                            class="icon ion-ios7-eye"></i></a>
                                                </p>
                                            </div>
                                            <div class="view-sm">
                                                <div class="btn-group">
                                                    <a href="#" class="btn btn-ion btn-primary dropdown-toggle"
                                                       data-toggle="dropdown">
                                                        <i class="icon ion-gear-b"></i>
                                                    </a>

                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="#" role="button"
                                                               class="btn btn-sm btn-ion btn-success payments-ticket"
                                                                    {% if item.status == 0 %}
                                                               style="display:block" {% endif %}
                                                               style="display:none">{% trans "Оплатить" %} <i
                                                                    class="icon ion-card"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" role="button"
                                                               class="btn btn-sm btn-ion btn-danger cancel-ticket"
                                                                    {% if item.status == 2 or item.status == 3 or item.status == 4 %}
                                                               style="display:none"{% endif %}>{% trans "Аннулировать" %}
                                                                <i
                                                                        class="icon ion-ios7-trash"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="/cp/invoice{% if item.invoiceb %}b{% elif item.invoicep %}p{% endif %}ticket/{{ item.id }}/"
                                                               role="button" class="btn btn-sm btn-ion btn-info"
                                                                    {% if item.status == 0 %}
                                                               style="display:none" {% endif %}>{% trans "Посмотреть счёт" %}
                                                                <i
                                                                        class="icon ion-ios7-eye"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# /content main #}
    </div>{# /content spliter #}
{% endblock %}