{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <div class="box">
                    <div class="table-responsive">
                        <table id="banks_table" class="table table-hover datatables">
                            <thead>
                            <tr>
                                <th>{% trans "Наименование" %}</th>
                                <th>{% trans "Номер счета" %}</th>
                                <th>{% trans "Статус" %}</th>
                                <th>{% trans "Действия" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in banks %}
                            <tr class="odd gradeA table-bank" data-bank-id="{{ item.id }}">
                                <td>
                                    <a href="/adminui/editbank/{{ item.id }}/">{{ item.bankname }}</a>
                                </td>
                                <td>{{ item.number }}</td>
                                <td class="bank-status">
                                {% if item.active %}
                                <span class="label label-sm label-success">{% trans "Активен" %}</span>
                                {% else %}
                                <span class="label label-sm label-danger">{% trans "Не активен" %}</span>
                                {% endif %}
                                </td>
                                <td>
                                    <div class="hide-sm">
                                        <p class="bank-button" style="margin: 0 0 0px;">
                                            {% if item.active %}
                                            <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger off-bank">{% trans "Отключить" %}<i class="icon ion-ios7-trash"></i></a>
                                            {% else %}
                                            <a href="#" role="button" class="btn btn-sm btn-ion btn-success on-bank">{% trans "Включить" %}<i class="icon ion-card"></i></a>
                                            {% endif %}
                                            <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger remove-bank">{% trans "Удалить" %}<i class="icon ion-ios7-trash"></i></a>
                                        </p>
                                    </div>
                                    <div class="view-sm">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-ion btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon ion-gear-b"></i>
                                            </a>

                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    {% if item.active %}
                                                    <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger off-bank">{% trans "Отключить" %}<i class="icon ion-ios7-trash"></i></a>
                                                    {% else %}
                                                    <a href="#" role="button" class="btn btn-sm btn-ion btn-success on-bank">{% trans "Включить" %}<i class="icon ion-card"></i></a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <a href="#" role="button" class="btn btn-sm btn-ion btn-danger remove-bank">{% trans "Удалить" %}<i class="icon ion-ios7-trash"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                    <h2 class="box-heading">{% trans "Добавления Банковских реквизитов" %}</h2>
                    <form class="form-horizontal" id="addbank_form" action="/adminui/addbank/" method="post" enctype="multipart/form-data" role="form">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="bankname" placeholder="{% trans "Наименование Банка" %}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="bankaddress" placeholder="{% trans "Адрес Банка" %}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="recipientname" placeholder="{% trans "Имя получателя" %}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="recipientaddress" placeholder="{% trans "Адрес получателя" %}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="number" placeholder="{% trans "Номер счета" %}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="bic" placeholder="BIC" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="swift" placeholder="SWIFT" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <label class="control-label" for="addbank_logo">{% trans "Добавить логотип банка" %}</label>
                                <input type="file" id="addbank_logo" name="logo">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-ion btn-success">{% trans "Добавить" %}</button>
                            </div><!-- /form-group -->
                        </fieldset>
                    </form><!-- /form -->
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}