<!DOCTYPE html>
<html>
<head>
    {% load i18n %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Fav and Touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/st/cp/app/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/st/cp/app/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/st/cp/app/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/st/cp/app/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/st/cp/app/ico/favico.png">
    <link rel="shortcut icon" href="/st/cp/app/ico/favico.ico">

    <!-- Theme Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Loading -->
    <link href="/st/cp/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/st/cp/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="/st/cp/bootstrap-wysihtml5/bootstrap3-wysihtml5.css" rel="stylesheet" />
    <link href="/st/css/bootstrap-formhelpers.min.css" rel="stylesheet" />

    <!-- Theme Dependencies -->
    <link href="/st/cp/app/css/dependencies.css" rel="stylesheet" />

    <!-- Applications -->
    <link href="/st/cp/app/css/admin.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--JavaScript translation catalog-->
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26542752-14']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23298406 = new Ya.Metrika({id:23298406,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/23298406" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<!-- content wrapper to define fullpage or container -->
<section id="wrapper" class="container">
<!-- define side left theme -->
<aside class="side-left">
    <!-- side header -->
    <div class="side-header">
        <!-- place your brand (recomended: dont change the id value) -->
        <!-- (recomended: dont change the id value) -->
        <h1 id="brand" class="brand">
            <a href="{% url 'index.views.index' %}">
                <!-- <i class="icon ion-waterdrop"></i> -->
                <img src="/st/cp/app/img/brand.png" alt="Euro Paradise User Interface"> <!-- 32px image logo -->
                Euro Paradise
            </a>
        </h1><!-- /brand -->

        <!-- form search, remove class hide if you not place your brand -->
        <form id="smart-search" class="side-form hide" role="form">
            <input type="text" class="form-control" data-target=".side-wrapper" placeholder="Поиск">
        </form>
        <!-- /side wrapper -->
    </div>
    <!-- /side header -->

    <!-- side body -->
    <div class="side-body">
        <!--adminuimenu-->
        {% load menu %}{% adminuimenu request.path %}
    </div>
    <!-- /side body -->
</aside>
<!-- /side left -->

<section id="content" class="content">
<!-- define your content header here -->
<header class="content-header">

<!-- header actions -->
<div class="header-actions pull-left">
    <!-- (recomended: dont change the id value) -->
    <button id="toggle-content" class="btn btn-icon" type="button"><i class="icon ion-navicon-round"></i></button>
</div>
<!-- /header actions -->
    {% block content %}{% endblock %}
</section><!-- /content -->
</section><!-- /wrapper -->
<!-- jQuery, theme required for theme -->
<script src="/st/cp/jquery/jquery.js"></script>
<script src="/st/cp/jquery/jquery.validate.min.js"></script>
<script src="/st/cp/bootstrap/js/bootstrap.min.js"></script>

<!-- theme dependencies -->
<script src="/st/cp/app/js/dependencies.js"></script>

<!-- other dependencies -->
<script src="/st/cp/jquery-icheck/jquery.icheck.min.js"></script>
<script src="/st/cp/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/st/cp/morris/morris.min.js"></script>
<script src="/st/cp/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script src="/st/cp/select2/select2.min.js"></script>
<script src="/st/cp/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/st/cp/multiselect/js/jquery.multi-select.js"></script>
<script src="/st/cp/bootstrap-jasny/js/inputmask.js"></script>
<script src="/st/cp/bootstrap-jasny/js/fileinput.js"></script>
<script src="/st/cp/moment/moment.min.js"></script>
<script src="/st/cp/bootstrap3-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/st/js/bootstrap-formhelpers.js"></script>
<script src="/st/cp/mjaalnir-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/st/cp/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
<script src="/st/cp/bootbox/bootbox.js"></script>
<script src="/st/cp/messenger/js/messenger.min.js"></script>
<script src="/st/cp/messenger/js/messenger-theme-flat.js"></script>
<script src="/st/cp/messenger/js/messenger-theme-future.js"></script>
<script src="/st/cp/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="/st/cp/nouislider/jquery.nouislider.js"></script>
<script src="/st/cp/datatables/js/jquery.dataTables.min.js"></script>
<script src="/st/cp/datatables/js/datatables.js"></script>

<!-- theme app main.js -->
<script src="/st/cp/app/js/main.js"></script>
<script src="/st/cp/app/js/adminui.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#reverved').datetimepicker({
                icons : {
                    time: 'icon ion-ios7-clock-outline',
                    date: 'icon ion-ios7-calendar-outline',
                    up:   'icon ion-ios7-arrow-up',
                    down: 'icon ion-ios7-arrow-down'
                },
                pickTime: false
            });

            $(".selectstatus").select2();

            $('.datatables').dataTable({
                "sPaginationType": "bs_full",
                "iDisplayLength": 10,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]]
            });

            $('.operations').dataTable({
                "sPaginationType": "bs_full",
                "iDisplayLength": 10,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]]
            });

            $('.individual').dataTable({
                "sPaginationType": "bs_full",
                "iDisplayLength": 10,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]]
            });

            $('.structure').dataTable({
                "sPaginationType": "bs_full",
                "iDisplayLength": 10,
                "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Все"]]
            });

            /** Не забыть...
             $('.datatables').dataTable({"sPaginationType": "bs_normal"});
             $('.datatables').dataTable({"sPaginationType": "bs_two_button"});
             $('.datatables').dataTable({"sPaginationType": "bs_four_button"});
             $('.datatables').dataTable({"sPaginationType": "bs_full"});
             */

            // Messenger
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-center',
                theme: 'flat'
            }

        })
    </script>
{% if request.session.alert %}{% load alert %}{% alert request.session %}{% endif %}
</body>
</html>