{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<style>
    .tree {
        padding: 0px 15px 0px 15px;
        list-style-type: none;
        margin-bottom: 0;
    }

    .tree-toggle, .tree-close, .tree-item {
        cursor: pointer;
        margin-right: 5px
    }
</style>
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <div class="box">
                    {% load recurse %}
                    {% recurse bonus.user.bonus_refer.all with bonuss as bonus %}
                    {% loop %}
                    <ul class="tree" {% if level != 1 %}style="display: none;"{% endif %}>
                        <li>{% if childexist %}<i class="icon ion-person-add tree-toggle tree-close"></i>{% endif %}<a class="tree-item" href="/adminui/userinfo/{{ bonus.user.id }}/">{{ bonus.user }}</a>
                            {% child %}
                        </li>
                    </ul>
                    {% endloop %}
                    {% endrecurse %}
                    <!-- Modal -->
                </div><!-- /tree-->
            </div>
    </section><!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}