{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <!-- app content here -->
                <div class="col-lg-12 box">
                    <div class="col-lg-6">
                        <h2 class="box-heading">{% trans "Информация по билету" %}</h2>
                        <ul class="list-group">
                            {% if ticket.invoiceb %}
                            <li class="list-group-item">{% trans "Номер платежа" %}: {{ ticket.invoiceb.id }}</li>
                            <li class="list-group-item">{% trans "Вид оплаты" %}: {{ ticket.invoiceb.system}}</li>
                            {% elif ticket.invoicep %}
                            <li class="list-group-item">{% trans "Номер платежа" %}: {{ ticket.invoicep.id }}</li>
                            <li class="list-group-item">{% trans "Вид оплаты" %}: {{ ticket.invoicep.system}}</li>
                            {% else %}
                            <li class="list-group-item">{% trans "Номер платежа" %}: -</li>
                            <li class="list-group-item">{% trans "Вид оплаты" %}: -</li>
                            {% endif %}
                            <li class="list-group-item">{% trans "Имя" %}: {{ ticket.user.first_name }}</li>
                            <li class="list-group-item">{% trans "Фамилия" %}: {{ ticket.user.last_name }}</li>
                            <li class="list-group-item">{% trans "Тип платежа" %}: {% trans ticket.game.series.type.name %}</li>
                            <li class="list-group-item">{% trans "Номер билета" %}: {{ ticket.numbert }}</li>
                            <li class="list-group-item">{% trans "Сумма" %}: &euro;{{ ticket.price }}</li>
                            <li class="list-group-item">{% trans "Статус" %}: {% if ticket.status == 0 %}{% trans "Забронирован до" %} {{ ticket.bdate|date:'d-m-Y G:i' }} {% elif ticket.status == 1 %} {% trans "Ожидание" %} {% elif ticket.status == 2 %} {% trans "Разыгран" %} {% elif ticket.status == 3 %} {% trans "Выйгран" %} {% elif ticket.status == 4 %} {% trans "Подтвержден" %} {% elif ticket.status == 5 %} {% trans "Аннулирован" %} {% elif ticket.status == 6 %} {% trans "Не определен" %} {% endif %}
                        </ul>
                        <!-- /list group -->
                    </div>
                    <div class="col-lg-6">
                        <h2 class="box-heading">{% trans "Статус билета" %}</h2>
                        <form id="editticket_form" role="form" action="{{ request.path }}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <select class="selectstatus" name="status" style="width:100%">
                                    <option {% if ticket.status == 4 %}selected="selected"{% endif %} value="4">{% trans "Подтверждён" %}</option>
                                    <option {% if ticket.status == 0 %}selected="selected"{% endif %} value="0">{% trans "Забронирован" %}</option>
                                    <option {% if ticket.status == 5 %}selected="selected"{% endif %} value="5">{% trans "Анулирован" %}</option>
                                    <option {% if ticket.status == 2 %}selected="selected"{% endif %} value="2">{% trans "Разыгран" %}</option>
                                    <option {% if ticket.status == 3 %}selected="selected"{% endif %} value="3">{% trans "Выиграл" %}</option>
                                    <option {% if ticket.status == 1 %}selected="selected"{% endif %} value="1">{% trans "Ожидание" %}</option>
                                    <option {% if ticket.status == 6 %}selected="selected"{% endif %} value="6">{% trans "Не определен" %}</option>
                                </select>
                            </div>
                            <!-- /form-group -->
                            <div class="form-group">
                                <div class="bfh-datepicker" data-format="y-m-d" data-name="date" data-placeholder="{{ ticket.bdate|date:'G:i' }}" data-date="{{ ticket.bdate|date:'d/m/Y' }}"></div>
                            </div><!-- /form-group -->
                            <div style="margin-bottom:10px;" class="text-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-ion btn-success">{% trans "Изменить" %}</button>
                                </div><!-- /btn-success -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}