{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <div class="box">
                    <h2 class="box-heading">{% trans "Изменение Банковских реквизитов" %}</h2>
                    <div><img src="/st/p/b/{{ b.id }}.png"/></div><br>
                    <form class="form-horizontal" id="editbank_form" action="{{ request.path }}" method="post" role="form">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="bankname" placeholder="{% trans "Наименование Банка" %}" value="{{ b.bankname }}">
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="bankaddress" placeholder="{% trans "Адрес Банка" %}" value="{{ b.bankaddress }}">
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="recipientname" placeholder="{% trans "Имя получателя" %}" value="{{ b.recipientname }}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="recipientaddress" placeholder="{% trans "Адрес получателя" %}" value="{{ b.recipientaddress }}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="number" placeholder="{% trans "Номер счета" %}" value="{{ b.number }}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="bic" placeholder="BIC" value="{{ b.bic }}" >
                            </div><!-- /form-group -->
                            <div class="form-group">
                                <input type="text" class="form-control form-flat form-ion"  name="swift" placeholder="SWIFT" value="{{ b.swift }}" >
                            </div><!-- /form-group -->
                            <!--<div class="form-group">
                                <label class="control-label" for="addbank_logo">{% trans "Добавить логотип банка" %}</label>
                                <input type="file" id="addbank_logo" name="logo">
                            </div>-->
                            <div class="form-group">
                                <button type="submit" class="btn btn-ion btn-success">{% trans "Изменить" %}</button>
                            </div><!-- /form-group -->
                        </fieldset>
                    </form><!-- /form -->
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}