{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <!-- app content here -->
                <div class="col-lg-12 box">
                    <div class="col-lg-6">
                        <h2 class="box-heading">{% trans "Информация по транзакции" %}</h2>
                        <ul class="list-group">
                            <li class="list-group-item">{% trans "Имя" %}: {{ wreq.user.first_name }}</li>
                            <li class="list-group-item">{% trans "Фамилия" %}: {{ wreq.user.last_name }}</li>
                            <li class="list-group-item">{% trans "Количество средств" %}:{{ wreq.points }}</li>
                            <li class="list-group-item">{% trans "Имя получателя" %}: {{ wreq.name }}</li>
                            <li class="list-group-item">{% trans "Адрес получателя" %}: {{ wreq.address }}</li>
                            <li class="list-group-item">{% trans "Наименование Банка" %}: {{ wreq.bankname }}</li>
                            <li class="list-group-item">{% trans "Адрес Банка" %}: {{ wreq.bankaddress }}</li>
                            <li class="list-group-item">{% trans "Номер счета" %}: {{ wreq.number }}</li>
                            <li class="list-group-item">{% trans "IBAN" %}: {{ wreq.iban }}</li>
                            <li class="list-group-item">{% trans "SWIFT" %}: {{ wreq.swift }}</li>
                            <li class="list-group-item">{% trans "Статус" %}: {% if wreq.status == 0 %}{% trans "В обработке" %} {% elif wreq.status == 1 %} {% trans "Подтверждён" %} {% elif wreq.status == 2 %} {% trans "Отклонён" %}{% endif %}
                        </ul>
                        <!-- /list group -->
                    </div>
                    <div class="col-lg-6">
                        <h2 class="box-heading">{% trans "Статус транзакции" %}</h2>
                        <form id="editticket_form" role="form" action="{{ request.path }}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <select class="selectstatus" name="status" style="width:100%">
                                    <option {% if wreq.status == 0 %}selected="selected"{% endif %} value="0">{% trans "В обработке" %}</option>
                                    <option {% if wreq.status == 1 %}selected="selected"{% endif %} value="1">{% trans "Подтверждён" %}</option>
                                    <option {% if wreq.status == 2 %}selected="selected"{% endif %} value="2">{% trans "Отклонён" %}</option>
                                </select>
                            </div>
                            <div style="margin-bottom:10px;" class="text-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-ion btn-success">{% trans "Изменить" %}</button>
                                </div><!-- /btn-success -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}