{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <div class="box">
                    <h2 class="box-heading">{% trans "Изменение кошелька" %}</h2>
                    <div><img src="/st/p/p/{{ p.id }}.png"/></div><br>
                    <form id="editpurse_form" action="{{ request.path }}" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control"  name="name"  placeholder="{% trans "Название платежной системы" %}" value="{{ p.name }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"  name="number"  placeholder="{% trans "Номер кошелька" %}" value="{{ p.number }}">
                        </div>
                        <!--<div class="form-group">
                            <label class="control-label" for="addpurse_logo">{% trans "Добавить логотип платежной системы" %}</label>
                            <input type="file" id="addpurse_logo" name="logo">
                        </div>-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-ion btn-success">{% trans "Изменить" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}