{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <div class="box">
                    <div class="table-responsive">
                        <table id="purses_table" class="table table-hover datatables">
                            <thead>
                            <tr>
                                <th>{% trans "Наименование" %}</th>
                                <th>{% trans "Номер счета" %}</th>
                                <th>{% trans "Статус" %}</th>
                                <th>{% trans "Действия" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in purses %}
                            <tr class="odd gradeA table-purse"  data-purse-id="{{ item.id }}">
                                <td>
                                    <a href="/adminui/editpurse/{{ item.id }}/">{{ item.name }}</a>
                                </td>
                                <td>{{ item.number }}</td>
                                <td class="purse-status">
                                {% if item.active %}
                                <span class="label label-sm label-success"> {% trans "Активен" %}</span>
                                {% else %}
                                <span class="label label-sm label-danger"> {% trans "Не активен" %}</span>
                                {% endif %}
                                </td>
                                <td>
                                    <div class="hide-sm">
                                        <p class="purse-button" style="margin: 0 0 0px;">
                                            {% if item.active %}
                                            <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger off-purse">{% trans "Отключить" %}<i class="icon ion-ios7-trash"></i></a>
                                            {% else %}
                                            <a href="#" role="button" class="btn btn-sm btn-ion btn-success on-purse">{% trans "Включить" %}<i class="icon ion-card"></i></a>
                                            {% endif %}
                                            <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger remove-purse">{% trans "Удалить" %}<i class="icon ion-ios7-trash"></i></a>
                                        </p>
                                    </div>
                                    <div class="view-sm">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-ion btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon ion-gear-b"></i>
                                            </a>

                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    {% if item.active %}
                                                    <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger off-purse">{% trans "Отключить" %}<i class="icon ion-ios7-trash"></i></a>
                                                    {% else %}
                                                    <a href="#" role="button" class="btn btn-sm btn-ion btn-success on-purse">{% trans "Включить" %}<i class="icon ion-card"></i></a>
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <a href="#" role="button" class="btn btn-sm btn-ion btn-danger remove-purse">{% trans "Удалить" %}<i class="icon ion-ios7-trash"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box">
                    <h2 class="box-heading">{% trans "Cоздание кошелька" %}</h2>
                    <form id="addpurse_form" action="/adminui/addpurse/" method="post" enctype="multipart/form-data" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control"  name="name"  placeholder="{% trans "Название платежной системы" %}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"  name="number"  placeholder="{% trans "Номер кошелька" %}">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="addpurse_logo">{% trans "Добавить логотип платежной системы" %}</label>
                            <input type="file" id="addpurse_logo" name="logo">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-ion btn-success">{% trans "Добавить" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}