{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %}{% trans "Панель Администрирования" %}{{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %}{% trans "Панель Администрирования" %}{% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
<!-- define apps here -->
<section id="content-main" class="content-main">
    <!-- your app content -->
    <div class="content-app fixed-header">
        <!-- app body -->
        <div class="app-body">
            <!-- app content here -->
            <div class="box">
                <div class="table-responsive">
                    <table id="tickets" class="table table-hover datatables">
                        <thead>
                        <tr>
                            <th>{% trans "Номер билета" %}</th>
                            <th>{% trans "Имя" %}</th>
                            <th>{% trans "Фамилия" %}</th>
                            <th>{% trans "Тип платежа" %}</th>
                            <th>{% trans "Номер платежа" %}</th>
                            <th>{% trans "Вид оплаты" %}</th>
                            <th>{% trans "Сумма" %}</th>
                            <th>{% trans "Статус" %}</th>
                            <th>{% trans "Действия" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in tikets %}
                        <tr class="odd gradeA table-ticket" data-ticket-id="{{ item.id }}">
                            <td>
                                <a href="/adminui/editticket/{{ item.id }}/">{{ item.numbert }}</a>
                            </td>
                            <td>{{ item.user.first_name }}</td>
                            <td>{{ item.user.last_name }}</td>
                            <td>{% trans item.game.series.type.name %}</td>
                            {% if item.invoiceb %}
                            <td>{{ item.invoiceb.id }}</td>
                            <td>{{ item.invoiceb.system}}</td>
                            {% elif item.invoicep %}
                            <td>{{ item.invoicep.id }}</td>
                            <td>{{ item.invoicep.system}}</td>
                            {% else %}
                            <td>-</td>
                            <td>-</td>
                            {% endif %}
                            <td>&euro;{{ item.price }}</td>
                            <td class="ticket-status">
                                <span class="label label-sm  {% if item.status == 0 %} label-primary"> {% trans "Забронирован до" %} {{ item.bdate|date:'d-m-Y G:i' }} {% elif item.status == 1 %} label-warning"> {% trans "Ожидание" %} {% elif item.status == 2 %} label-default"> {% trans "Разыгран" %} {% elif item.status == 3 %} label-success "> {% trans "Выйгран" %} {% elif item.status == 4 %} label-info "> {% trans "Подтвержден" %} {% elif item.status == 5 %} label-danger "> {% trans "Аннулирован" %} {% elif item.status == 6 %} label-default"> {% trans "Не определен" %} {% endif %}</span>
                            </td>
                            <td>
                                <div class="hide-sm">
                                    <p class="bank-button" style="margin: 0 0 0px;">
                                        <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger remove-ticket">{% trans "Удалить" %}<i class="icon ion-ios7-trash"></i></a>
                                    </p>
                                </div>
                                <div class="view-sm">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-ion btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon ion-gear-b"></i>
                                        </a>

                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#" role="button" class="btn btn-sm btn-ion btn-danger remove-ticket">{% trans "Удалить" %}<i class="icon ion-ios7-trash"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}