{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %} {% trans "Панель Администрирования" %} {{ title }}{% endblock %}
{% block content %}
    <!-- App Title -->
    <h1 class="content-title" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">{% block cptitle %} {% trans "Панель Администрирования" %} {% endblock %}</h1>
    </header>
    <!-- /side left -->
    <div class="content-spliter">
        <!-- define apps here -->
        <section id="content-main" class="content-main">
            <div class="content-app fixed-header">
                <div class="app-header">
                    <div class="hide-sm">
                        <a data-toggle="transition-layout" href="#userinfo" class="btn btn-ion btn-info active" role="button">
                            {% trans "Личные данные" %}
                        </a>
                        <a data-toggle="transition-layout" href="#individual" class="btn btn-ion btn-info" role="button">
                            {% trans "Индивидуальные бонусы" %}
                        </a>
                        <a data-toggle="transition-layout" href="#structural" class="btn btn-ion btn-info" role="button">
                            {% trans "Структурные бонусы" %}
                        </a>
                        <a data-toggle="transition-layout" href="#tickets" class="btn btn-ion btn-info" role="button">
                            {% trans "Билеты" %}
                        </a>
                        <a data-toggle="transition-layout" href="#payments" class="btn btn-ion btn-info" role="button">
                            {% trans "Платежи" %}
                        </a>
                    </div>
                    <div class="view-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-ion btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="icon ion-gear-b"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a data-toggle="transition-layout" href="#userinfo" class="btn btn-ion btn-info active" role="button">
                                    {% trans "Личные данные" %}
                                </a></li>
                                <li><a data-toggle="transition-layout" href="#individual" class="btn btn-ion btn-info" role="button">
                                    {% trans "Индивидуальные бонусы" %}
                                </a></li>
                                <li><a data-toggle="transition-layout" href="#structural" class="btn btn-ion btn-info" role="button">
                                    {% trans "Структурные бонусы" %}
                                </a></li>
                                <li><a data-toggle="transition-layout" href="#tickets" class="btn btn-ion btn-info" role="button">
                                    {% trans "Билеты" %}
                                </a></li>
                                <li><a data-toggle="transition-layout" href="#payments" class="btn btn-ion btn-info" role="button">
                                    {% trans "Платежи" %}
                                </a></li>
                            </ul>
                        </div>
                    </div><!-- /mobile app header -->
                </div><!-- /app header -->
                <!-- app body -->
                <div class="app-body">
                    <!-- app content here -->
                    <div class="transition-layout" id="userinfo">
                        <div class="box">
                            <h2 class="box-heading">{% trans "Личные данные" %}</h2>
                            <div class="row">
                                <div class="col-xs-2 col-xs-offset-2">
                                    <span class="form-control">{{ user.first_name }} {{ user.last_name }}</span>
                                </div>
                                <div class="col-xs-3">
                                    <span class="form-control">Последний раз заходил: {{ user.last_login }}</span>
                                </div>
                                <div class="col-xs-3">
                                    <span class="form-control">Дата регистрации: {{ user.date_joined }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-xs-offset-2">
                                    <span class="form-control">Страна: {{ user.userinfo.country }}</span>
                                </div>
                                <div class="col-xs-3">
                                    <span class="form-control">Город: {{ user.userinfo.city }}</span>
                                </div>
                                <div class="col-xs-3">
                                    <span class="form-control">Телефон: {{ user.userinfo.phone }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-xs-offset-2">
                                    <a href="skype:{{ user.userinfo.skype }}?call" class="form-control">Skype: {{ user.userinfo.skype }}</a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="mailto:{{ user.email }}" class="form-control">Email: {{ user.email }}</a>
                                </div>
                                <div class="col-xs-3">
                                    <span class="form-control">Login: {{ user.username }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="transition-layout" id="individual">
                        <div class="box">
                            <div class="table-responsive">
                                <!-- TODO: <h2 class="box-heading">{% trans "Бонус пункты" %}: {{ user.partners.bal|default:"0" }}</h2> -->
                                <table class="table table-hover datatables">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Псевдоним" %}</th>
                                        <th>{% trans "Бонус пункты партнёра" %}</th>
                                        <th>{% trans "Сумма в" %} &euro;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in referals %}
                                    <tr class="odd gradeX table-ticket">
                                        <td><a href="/adminui/userinfo/{{ item.user.id }}/" target="_blank">{{ item.user }}</a></td>
                                        <td>{{ item.user.partners.bal|default:"0" }}</td>
                                        <td>{{ item.sum }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="transition-layout" id="structural">
                        <div class="box">
                            <div class="table-responsive">
                                <!-- TODO: <h2 class="box-heading">{% trans "Бонус пункты" %}: {{ user.partners.bal|default:"0" }}</h2> -->
                                <table class="table table-hover datatables">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Псевдоним" %}</th>
                                        <th>{% trans "Бонус пункты партнёра" %}</th>
                                        <th>{% trans "Сумма в" %} &euro;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in sreferals %}
                                    <tr class="odd gradeX table-ticket">
                                        <td><a href="/adminui/userinfo/{{ item.user.id }}/" target="_blank">{{ item.user }}</a></td>
                                        <td>{{ item.user.partners.bal|default:"0" }}</td>
                                        <td>{{ item.sum }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="transition-layout" id="tickets">
                        <div class="box">
                            <div class="table-responsive">
                                <table class="table table-hover datatables">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Номер билета" %}</th>
                                        <th>{% trans "Номер игры" %}</th>
                                        <th>{% trans "Тип розыгрыша" %}</th>
                                        <th>{% trans "Стоимость билета" %}</th>
                                        <th>{% trans "Статус" %}</th>
                                        <th>{% trans "Действия" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in tickets %}
                                        <tr class="odd gradeA table-ticket" data-ticket-id="{{ item.id }}">
                                            <td>
                                                <a href="/adminui/editticket/{{ item.id }}/" target="_blank">{{ item.numbert }}</a>
                                            </td>
                                            <td>{{ item.game.num }}</td>
                                            <td>{% trans item.game.series.type.name %}</td>
                                            <td>&euro;{{ item.price }}</td>
                                            <td class="ticket-status">
                                                <span class="label label-sm  {% if item.status == 0 %} label-primary"> {% trans "Забронирован до" %} {{ item.bdate|date:'d-m-Y G:i' }} {% elif item.status == 1 %} label-warning"> {% trans "Ожидание" %} {% elif item.status == 2 %} label-default"> {% trans "Разыгран" %} {% elif item.status == 3 %} label-success "> {% trans "Выйгран" %} {% elif item.status == 4 %} label-info "> {% trans "Подтвержден" %} {% elif item.status == 5 %} label-danger "> {% trans "Аннулирован" %} {% elif item.status == 6 %} label-default"> {% trans "Не определен" %} {% endif %}</span>
                                            </td>
                                            <td>
                                                <div class="hide-sm">
                                                    <p style="margin: 0 0 0px;">
                                                        <a href="#" role="button"
                                                           class="btn btn-sm btn-ion btn-success payments-ticket" {% if item.status != 0%} style="display:none" {% endif %} > {% trans "Оплатить" %}<i class="icon ion-card"></i></a>
                                                        <a href="#"  role="button" class="btn btn-sm btn-ion btn-danger cancel-ticket"{% if item.status == 2 or item.status == 3 or item.status == 4 %} style="display:none"{% endif %}>{% trans "Аннулировать" %}<i
                                                                class="icon ion-ios7-trash"></i></a>
                                                        <a href="/cp/invoice{% if item.invoiceb %}b{% elif item.invoicep %}p{% endif %}ticket/{{ item.id }}/" role="button" class="btn btn-sm btn-ion btn-info" {% if item.status == 0%} style="display:none" {% endif %}>{% trans "Посмотреть счёт" %}<i
                                                                class="icon ion-ios7-eye"></i></a>
                                                    </p>
                                                </div>
                                                <div class="view-sm">
                                                    <div class="btn-group">
                                                        <a href="#" class="btn btn-ion btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon ion-gear-b"></i>
                                                        </a>

                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a href="#" role="button"
                                                                   class="btn btn-sm btn-ion btn-success payments-ticket" {% if item.status == 0%} style="display:block" {% endif %} style="display:none">{% trans "Оплатить" %}<i class="icon ion-card"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="#" role="button" class="btn btn-sm btn-ion btn-danger cancel-ticket"{% if item.status == 2 or item.status == 3 or item.status == 4 %} style="display:none"{% endif %}>{% trans "Аннулировать" %}<i
                                                                        class="icon ion-ios7-trash"></i></a>
                                                            </li>
                                                            <li>
                                                                <a href="/cp/invoice{% if item.invoiceb %}b{% elif item.invoicep %}p{% endif %}ticket/{{ item.id }}/" role="button" class="btn btn-sm btn-ion btn-info" {% if item.status == 0 %} style="display:none" {% endif %}>{% trans "Посмотреть счёт" %}<i
                                                                        class="icon ion-ios7-eye"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="transition-layout" id="payments">
                        <div class="box">
                            <div class="table-responsive">
                                <h2 class="box-heading">{% trans "Денежные операции" %}</h2>
                                <table class="table table-hover operations">
                                    <thead>
                                    <tr>
                                        <th>{% trans "Номер платежа" %}</th>
                                        <th>{% trans "Тип платежа" %}</th>
                                        <th>{% trans "Тип оплаты" %}</th>
                                        <th>{% trans "Количество пунктов" %}</th>
                                        <th>{% trans "Сумма в" %} &euro;</th>
                                        <th>{% trans "Статус" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in invoicep %}
                                        <tr class="odd gradeA">
                                            <td>
                                                <a href="/cp/invoicepticket/{{ item.ticket.id }}/">{{ item.id }}</a>
                                            </td>
                                            <td> {% trans "Покупка билетов" %} </td>
                                            <td> {% trans "Платежная система" %} </td>
                                            <td>{{ item.price }}</td>
                                            <td>&euro;{{ item.price }}.00</td>
                                            <td>
                                                <span class="label label-sm {% if item.status == 0 %} label-primary">
                                                    {% trans "В обработке" %} {% elif item.status == 1 %}label-info">
                                                    {% trans "Подтверждён" %} {% elif item.status == 2 %}label-danger">
                                                    {% trans "Отклонён" %} {% endif %} </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for item in invoiceb %}
                                        <tr class="odd gradeA">
                                            <td>
                                                <a href="/cp/invoicebticket/{{ item.ticket.id }}/">{{ item.id }}</a>
                                            </td>
                                            <td>{% trans "Покупка билетов" %}</td>
                                            <td>{% trans "Банковский платеж" %}</td>
                                            <td>{{ item.price }}</td>
                                            <td>&euro;{{ item.price }}.00</td>
                                            <td>
                                                <span class="label label-sm {% if item.status == 0 %} label-primary">
                                                    {% trans "В обработке" %} {% elif item.status == 1 %}label-info">
                                                    {% trans "Подтверждён" %} {% elif item.status == 2 %}label-danger">
                                                    {% trans "Отклонён" %} {% endif %} </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </section><!-- /content main -->
    </div><!-- /content spliter -->
{% endblock %}