{% extends "adminui/base.html" %}
{% load i18n %}
{% block title %}{% trans "Панель Администрирования" %}{{ title }}{% endblock %}
{% block content %}
<!-- App Title -->
<h1 class="content-title">{% block cptitle %}{% trans "Панель Администрирования" %}{% endblock %}</h1>
</header>
<!-- /side left -->
<!-- define content row -->
<div class="content-spliter">
    <!-- define apps here -->
    <section id="content-main" class="content-main">
        <!-- your app content -->
        <div class="content-app fixed-header">
            <!-- app body -->
            <div class="app-body">
                <!-- app content here -->
                <div class="box">
                    <div class="table-responsive">
                        <table id="tickets" class="table table-hover datatables">
                            <thead>
                            <tr>
                                <th>{% trans "Номер транзакции" %}</th>
                                <th>{% trans "Имя" %}</th>
                                <th>{% trans "Фамилия" %}</th>
                                <th>{% trans "Наименование Банка" %}</th>
                                <th>{% trans "Номер счета" %}</th>
                                <th>{% trans "Количество пунктов" %}</th>
                                <th>{% trans "Сумма в" %} &euro;</th>
                                <th>{% trans "Статус" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in wreq %}
                            <tr class="odd gradeA table-ticket" data-ticket-id="{{ item.id }}">
                                <td>
                                    {% if item.status != 2 %}<a href="/adminui/editwithdrawal/{{ item.id }}/">{{ item.id }}</a>{% else %} {{ item.id }} {% endif %}
                                </td>
                                <td>{{ item.user.first_name }}</td>
                                <td>{{ item.user.last_name }}</td>
                                <td>{{ item.bankname }}</td>
                                <td>{{ item.number }}</td>
                                <td>{{ item.points }}</td>
                                <td>&euro;{{ item.points }}</td>
                                <td>
                                    <span class="label label-sm {% if item.status == 0 %} label-primary"> {% trans "В обработке" %} {% elif item.status == 1 %}label-info"> {% trans "Подтверждён" %} {% elif item.status == 2 %}label-danger"> {% trans "Отклонён" %} {% endif %} </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /content main -->
</div><!-- /content spliter -->
{% endblock %}