{% url 'index.views.index' as index %}
{% url 'adminui.views.tickets' as tickets %}
{% url 'adminui.views.purses' as purses %}
{% url 'adminui.views.banks' as banks %}
{% url 'adminui.views.withdrawal' as withdrawal %}
{% url 'adminui.views.bonus' as bonus %}
{% load i18n %}
<!-- separate nav for ease development -->
<nav class="side-nav">
    <!-- open nav ul -->
    <ul>
        <li class="side-nav-item {% if path == tickets %} active{% endif %}">
            <a href="{% url 'adminui.views.tickets' %}">
                <i class="nav-item-icon icon ion-compose"></i>
                {% trans "Билеты" %}
            </a>
        </li><!-- /tickets -->
        <li class="side-nav-item {% if path == purses %} active{% endif %}">
            <a href="{% url 'adminui.views.purses' %}">
                <i class="nav-item-icon icon ion-card"></i>
                {% trans "Платежные системы" %}
            </a>
        </li><!-- /payments -->
        <li class="side-nav-item {% if path == banks %} active{% endif %}">
            <a href="{% url 'adminui.views.banks' %}">
                <i class="nav-item-icon icon ion-calculator"></i>
                {% trans "Банковские реквизиты" %}
            </a>
        </li><!-- /bonus -->
        <li class="side-nav-item {% if path == withdrawal %} active{% endif %}">
            <a href="{% url 'adminui.views.withdrawal' %}">
                <i class="nav-item-icon icon ion-calculator"></i>
                {% trans "Вывод средств" %}
            </a>
        </li><!-- /bonus -->
        <li class="side-nav-item {% if path == bonus %} active{% endif %}">
            <a href="{% url 'adminui.views.bonus' %}">
                <i class="nav-item-icon icon icon ion-ios7-people"></i>
                {% trans "Бонусная программа" %}
            </a>
        </li><!-- /bonus -->
    </ul><!-- /nav ul-->
</nav><!-- /nav -->