{% url 'index.views.index' as index %}
{% url 'index.views.phones' as phones %}
{% url 'index.views.moneys' as moneys %}
{% url 'index.views.travels' as travels %}
{% url 'index.views.autos' as autos %}
{% url 'index.views.penthouses' as penthouses %}
{% url 'cp.views.tickets' as tickets %}
{% url 'cp.views.payments' as payments %}
{% url 'cp.views.profile' as profile %}
{% url 'cp.views.bonus' as bonus %}
{% url 'cp.views.notification' as notification %}
{% load i18n %}

<!-- separate nav for ease development -->
<nav class="side-nav">
    <!-- open nav ul -->
    <ul>
        <li class="side-nav-item {% if path == tickets %} active{% endif %}">
            <a href="{% url 'cp.views.tickets' %}">
                <i class="nav-item-icon icon ion-compose"></i>
                {% trans "Мои билеты" %}
            </a>
        </li>
        <!-- /tickets -->
        <li class="side-nav-item">
            <a href="#ads">
                <i class="nav-item-caret"></i>
                <i class="nav-item-icon icon ion-ios7-cart-outline"></i>
                {% trans "Купить билеты" %}
            </a>
            <ul id="ads" class="side-nav-child">
                <li class="side-nav-item-heading">
                    <a href="#" class="side-nav-back">
                        <i class="nav-item-caret"></i>
                        {% trans "Купить билеты" %}
                    </a>
                </li><!-- /header layouts child -->
                <li class="side-nav-item">
                    <a href="{% url 'index.views.phones' %}">
                        <i class="nav-item-icon icon ion-ios7-bolt-outline"></i>
                        {% trans "Выиграть телефон" %}
                    </a>
                </li><!-- /ads -->
                <li class="side-nav-item">
                    <a href="{% url 'index.views.moneys' %}">
                        <i class="nav-item-icon icon ion-ios7-bolt-outline"></i>
                        {% trans "Выиграть деньги" %}
                    </a>
                </li><!-- /ads -->
                <li class="side-nav-item">
                    <a href="{% url 'index.views.travels' %}">
                        <i class="nav-item-icon icon ion-ios7-bolt-outline"></i>
                        {% trans "Выиграть путешествие" %}
                    </a>
                </li><!-- /ads -->
                <li class="side-nav-item">
                    <a href="{% url 'index.views.autos' %}">
                        <i class="nav-item-icon icon ion-ios7-bolt-outline"></i>
                        {% trans "Выиграть автомобиль" %}
                    </a>
                </li><!-- /ads -->
                <li class="side-nav-item">
                    <a href="{% url 'index.views.penthouses' %}">
                        <i class="nav-item-icon icon ion-ios7-bolt-outline"></i>
                        {% trans "Выиграть пентхаус" %}
                    </a>
                </li><!-- /ads -->
            </ul><!-- /layouts child -->
        </li><!-- /buy Tickets -->
        <li class="side-nav-item {% if path == payments %} active{% endif %}">
            <a href="{% url 'cp.views.payments' %}">
                <i class="nav-item-icon icon ion-card"></i>
                {% trans "Платежи" %}
            </a>
        </li>
        <!-- /payments -->
        <li class="side-nav-item {% if path == bonus %} active{% endif %}">
            <a href="{% url 'cp.views.bonus' %}">
                <i class="nav-item-icon icon ion-calculator"></i>
                {% trans "Бонусная программа" %}
            </a>
        </li>
        <!-- /profile -->
        <li class="side-nav-item {% if path == profile %} active{% endif %}">
            <a href="{% url 'cp.views.profile' %}">
                <i class="nav-item-icon icon ion-ios7-person-outline"></i>
                {% trans "Личные данные" %}
            </a>
        </li>
        <!-- /bonus -->
        <li class="side-nav-item {% if path == notification %} active{% endif %}">
            <a href="{% url 'cp.views.notification' %}">
                {% load mcount %}{% mcount user as mc %}{% if mc != 0 %}<span class="badge">{{ mc }}</span>{% else %}{% endif %}
                <i class="nav-item-icon icon ion-ios7-email-outline"></i>
                {% trans "Уведомления" %}
            </a>
        </li>
        <!-- /notification -->
    </ul>
    <!-- /nav ul-->
</nav><!-- /nav -->