{% url 'index.views.index' as index %}
{% url 'index.views.reg' as reg %}
{% url 'index.views.bonus' as bonus %}
{% url 'index.views.phones' as phones %}
{% url 'index.views.moneys' as moneys %}
{% url 'index.views.travels' as travels %}
{% url 'index.views.autos' as autos %}
{% url 'index.views.penthouses' as penthouses %}
{% url 'index.views.how' as how %}
{% url 'index.views.rules' as rules %}
{% url 'index.views.online' as online %}
{% url 'index.views.archives' as archives %}
{% url 'index.views.about' as about %}
{% url 'index.views.impresum' as impresum %}
{% url 'index.views.contacts' as contacts %}
{% load i18n %}
<nav class="navbar navbar-fixed-top wowmenu" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand logo-nav" href="/">
                <img src="/st/img/logo.png" alt="{% trans "Официальный сайт лотереи" %} Euro Paradise">
            </a>
        </div>
        <ul id="nav" class="nav navbar-nav pull-right">
            <li{% if path == index %} class="active"{% endif %}><a href="{% url 'index.views.index' %}">{% trans "Главная" %}</a></li>
            <li{% if path == phones or path == moneys or path == travels or path == autos or path == penthouses %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Розыгрыши" %} <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'index.views.phones' %}">{% trans "Выиграть телефон" %}</a></li>
                <li><a href="{% url 'index.views.moneys' %}">{% trans "Выиграть деньги" %}</a></li>
                <li><a href="{% url 'index.views.travels' %}">{% trans "Выиграть путешествие" %}</a></li>
                <li><a href="{% url 'index.views.autos' %}">{% trans "Выиграть автомобиль" %}</a></li>
                <li><a href="{% url 'index.views.penthouses' %}">{% trans "Выиграть пентхаус" %}</a></li>
            </ul>
            </li>
            <li{% if path == how or path == rules or path == reg or path == bonus %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Начало игры" %} <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'index.views.reg' %}">{% trans "Регистрация" %}</a></li>
                <li><a href="{% url 'index.views.how' %}">{% trans "Как начать играть" %}</a></li>
                <li><a href="{% url 'index.views.rules' %}">{% trans "Правила игры" %}</a></li>
                <li><a href="{% url 'index.views.bonus' %}">{% trans "Бонусная программа" %}</a></li>
            </ul>
            </li>
            <li{% if path == online or path == archives %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Трансляция игр" %}<i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'index.views.archives' %}">{% trans "Архив розыгрышей" %}</a></li>
                <li><a href="{% url 'index.views.online' %}">{% trans "Онлайн трансляция" %}</a></li>
            </ul>
            </li>
            <li{% if path == about or path == impresum or path == contacts %} class="dropdown active"{% else %} class="dropdown"{% endif %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "О нас" %}<i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'index.views.about' %}">Euro Paradise</a></li>
                <li><a href="{% url 'index.views.impresum' %}">Impresum</a></li>
                <li><a href="{% url 'index.views.contacts' %}">{% trans "Контакты" %}</a></li>
            </ul>
            </li>
            <li{% if path == cp %} class="active"{% endif %}><a href="{% url 'cp.views.profile' %}"><i class="icon-lock icon"> </i>{% trans "Личный кабинет" %}</a></li>
            {% if user.is_authenticated %}
            {% load mcount %}{% mcount user as mc %}
            {% if mc != 0 %}
            <li><a href="{% url 'cp.views.notification' %}" title="{% trans "Уведомления системы" %}"><span class="badge">{{ mc }}</span></a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
