<!DOCTYPE html>
<html>
  <head>
    {% load i18n %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <title>Euro Paradise | {% trans "Страница не найдена" %}</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/st/cp/app/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/st/cp/app/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/st/cp/app/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/st/cp/app/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/st/cp/app/ico/favico.png">
    <link rel="shortcut icon" href="/st/cp/app/ico/favico.ico">
      <!-- theme fonts -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

      <!-- theme bootstrap stylesheets -->
      <link href="/st/cp/bootstrap/css/bootstrap.css" rel="stylesheet" />

      <!-- theme dependencies stylesheets -->
      <link href="/st/cp/app/css/dependencies.css" rel="stylesheet" />

      <!-- theme app main.css (this import of all custom css, you can use requirejs for optimizeCss or grunt to optimize them all) -->
      <link href="/st/cp/app/css/syrena-admin.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
    body{
        overflow: hidden;
        background-color: #000;
    }
    </style>
  </head>
  <body>
    <!-- content wrapper to define fullpage or container -->
    <section id="wrapper" class="container">
        <section class="error-msg">
            <div class="error-container">
                <h2 class="error-status"><span class="error-code">404</span> <small><strong>{% trans "Упс!" %}</strong> {% trans "Запрашиваемая вами страница не найдена" %}</small></h2>
                <div class="text-center">
                    <a href="/" role="button" class="btn btn-ion btn-primary"><i class="icon ion-home"></i> {% trans "На главную" %}</a>
                    <a href="/cp/" role="button" class="btn btn-ion btn-danger"><i class="icon ion-help-buoy"></i> {% trans "В личный кабинет" %}</a>
                </div>
            </div><!-- /error-container -->
        </section><!-- /error-msg -->
    </section><!-- /wrapper -->
    <!-- jQuery, theme required for theme -->
    <script src="/st/cp/jquery/jquery.js"></script>
    <script src="/st/cp/bootstrap/js/bootstrap.min.js"></script>

    <!-- theme dependencies -->
    <script src="/st/cp/app/js/dependencies.js"></script>


    <!-- theme app main.js -->
    <script src="/st/cp/app/js/main.js"></script>
  </body>
</html>