{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">Euro Paradise</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <!-- CONTENT START
    ================================================== -->
    <div class="row">
        <!-- Begin About -->
        <div class="col-md-12">
            <div class="box effect6">
                {% trans "Мечта каждого человека – стимул для нашей работы! Благодаря лотерее Euro Paradise любой участник, которому сопутствует удача, может стать владельцем признанного во всем мире телефона, окунуться в наслаждение незабываемого путешествия, что, несомненно, запомнится на всю жизнь, со своим любимым человеком. Так, в рамках путешествия можно ознакомиться с богатой культурой Черногории, проживая при этом в лучшем отеле страны." %}
            </div>
        </div>
        <div class="space-10"></div>
        <div class="col-md-12">
            <div class="box effect6">
                {% trans "Кроме всего прочего, каждый участник лотереи Euro Paradise имеет шанс стать обладателем денежного приза в 5000 Евро, что также является приятным сюрпризом. А для автолюбителей возможность выиграть VWGOLF 5 будет просто воплощением мечты. А самое главное, лотерея Euro Paradise – реальный шанс переехать в собственный Пентхаус на морском побережье." %}
            </div>
        </div>
        <div class="space-10"></div>
        <div class="col-md-12">
            <div class="box effect6">
                {% trans "Несмотря на то, что игра увидела свет совсем недавно, приверженность к ней возрастает изо дня – это позволяет судить о надежности компании и реальности выигрышей. Все участники лотереи могут рассчитывать на равные шансы стать обладателями одного из множества призов. Руководство компании позаботилось о том, чтобы каждый, кто купил билет, ощущал комфорт, надежность и наслаждение, а также адреналин от игры." %}
            </div>
        </div>
        <div class="space-10"></div>
        <div class="col-md-12">
            <div class="box effect6">
                {% trans "Основана компания EUROPARADISED.OO. в мае текущего года. Адрес организации: город PODGORICA в MONTENEGRO по улице KraljaNikole br. 108. Директором компании является VLADANDAJKOVIC. Юридические нормы деятельности организации определяются законодательством Черногории. Контроль за деятельностью EUROPARADISED осуществляется со стороны государства – разумеется, она имеет соответствующую лицензию. С нашей стороны гарантируем ответственность и корректность проведения розыгрышей лотереи Euro Paradise. Пусть удача всегда будет с Вами!" %}
            </div>
        </div>
        <!-- About end -->
    </div>
</div>
<!-- /.wrapsemibox end-->
{% endblock %}
