{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Архив победителей" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table id="archives" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{% trans "Дата розыгрыша" %}</th>
                        <th>{% trans "Тип игры" %}</th>
                        <th>{% trans "Победитель" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in tickets %}
                    <tr>
                        <td>{{ item.game.stopdate|date:'d-m-Y' }}</td>
                        <td>{% trans item.game.series.type.name %}</td>
                        <td>{{ item.user.first_name}} {{ item.user.last_name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.wrapsemibox end-->
{% endblock %}