{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Выиграть автомобиль" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <!-- Begin Phones Layer
    ================================================== -->
    <div class="row" id="games" data-game-type="4">
        <div class="col-md-12">
            <div class="col-md-2 thumbnail">
                <img src="/st/img/games/a.png"
                     alt="{% trans "Выиграть автомобиль" %}">
            </div>
            <!--Begin Games -->
            {% for item in game%}
            <div class="vuzz-pricing-table col-md-2 game-item {% if item.status == 1 %}game-active{% endif %}" id="game_item_{{ item.id }}" data-tickets='{"id":"{{ item.id }}","tickets":"{{ item.tickets }}","ticketsa":"{{ item.ticketsa }}","status":"{{ item.status }}","stopDate":"{{ item.stopdate }}"}'>
                <div class="vuzz-pricing {% if item.status == 0 %} {% elif item.status == 1 %} started {% elif item.status == 2 %} end {% endif %}">
                    <div class="vuzz-pricing-header {% if item.status == 1 %} started {% elif item.status == 2 %} end {% endif %}">
                        <h5>{{ item.num }} {% trans "игра" %}</h5>

                        <div class="vuzz-pricing-cost">
                            <i class="{% if item.status == 0 %} icon-refresh icon-spin {% elif item.status == 1 %} icon-play-sign {% elif item.status == 2 %} icon-bookmark {% endif %}"> </i>{% if item.status == 0 %} {% trans "Ожидание" %} {% elif item.status == 1 %} {% trans "В продаже" %} {% elif item.status == 2 %} {% trans "Закончена" %} {% endif %}
                        </div>
                        <div class="vuzz-pricing-per">
                            {% trans "Стоимость билета" %} <i class="icon-euro"> </i>{{ item.price }}
                        </div>
                    </div>
                    <div class="vuzz-pricing-content">
                        <ul>
                            <li>{% trans "Билетов" %} {{ item.tickets }}</li>
                            <li class="game-ticketsa">{% trans "Осталось билетов" %} {{ item.ticketsa }}</li>
                        </ul>
                        <div class="progress progress-small progress-striped {% if item.status == 1 %} active {% endif %}" style="margin-bottom: 0px">
                            <div class="progress-bar {% if item.status == 0 %} progress-bar-inverse {% elif item.status == 1 %} progress-bar-danger {% elif item.status == 2 %} progress-bar-success {% endif %}" {% if item.status == 0 or item.status == 2 %} style="width: 100%;" {% endif %}></div>
                    </div>
                </div>
                <div class="vuzz-pricing-button {% if item.status == 1 %} started {% elif item.status == 2 %} end {% endif %}">
                    {% if user.is_authenticated %}
                    <button class="vuzz-button buttonprice btn-block buy-ticket" {% if item.status == 0 or item.status == 2 %} disabled="disabled" {% endif %} >{% if item.status == 2 %} {{ item.stopdate }} {% elif item.status == 1 or item.status == 0 %} {% trans "Купить билет" %} {% endif %}</button>
                    {% else %}
                    <a class="vuzz-button buttonprice btn-block" {% if item.status == 1%} href="/login/" {% endif %}>{% trans "Купить билет" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <!--End Games-->
    </div>
</div>
<div class="vspace-sm-6"></div>
{% if user.is_authenticated %}
<div class="row" style="display:{% if tickets %} block {% else %} none {% endif %}">
    <div class="col-xs-12">
        <div class="table-header">{% trans "Мои билеты" %}</div>
        <div class="table-responsive">
            <table id="tickets" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>{% trans "Номер билета" %}</th>
                    <th>{% trans "Номер игры" %}</th>
                    <th>{% trans "Тип розыгрыша" %}</th>
                    <th>{% trans "Стоимость билета" %}</th>
                    <th>{% trans "Статус" %}</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for item in tickets %}
                <tr class="table-ticket{% if item.status == 3 %} success {% endif %}" data-ticket-id="{{ item.id }}">
                    <td>
                        <a href="#">{{ item.numbert }}</a>
                    </td>
                    <td>{% trans "Игра" %} {{ item.game.num }}</td>
                    <td>{% trans item.game.series.type.name %} </td>
                    <td><i class="icon-euro"> </i>{{ item.price }}</td>

                    <td class="ticket-status">
                        <span class="label label-sm  {% if item.status == 0 %} label-primary"> {% trans "Забронирован до" %} {{ item.bdate|date:'d-m-Y G:i' }} {% elif item.status == 1 %} label-warning"> {% trans "Ожидание" %} {% elif item.status == 2 %} label-default"> {% trans "Разыгран" %} {% elif item.status == 3 %} label-success "> {% trans "Выйгран" %} {% elif item.status == 4 %} label-info "> {% trans "Подтвержден" %} {% elif item.status == 5 %} label-danger "> {% trans "Аннулирован" %} {% elif item.status == 6 %} label-default"> {% trans "Не определен" %} {% endif %}</span>
                    </td>

                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs payments-ticket btn-success" {% if item.status == 0%} style="display:block" {% endif %} style="display:none">
                            {% trans "Оплатить" %} <i class="icon-ok bigger-120"></i>
                            </button>
                            <button class="btn btn-xs cancel-ticket btn-danger" {% if item.status == 2 or item.status == 3 or item.status == 4 %} style="display:none"{% endif %}> {% trans "Аннулировать" %} <i class="icon-trash bigger-120"></i>
                            </button>
                        </div>

                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-success payments-ticket" data-rel="tooltip" title="{% trans "Оплатить" %}" {% if item.status == 0%} style="display:block" {% endif %} style="display:none">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error cancel-ticket" data-rel="tooltip" {% if item.status == 2 or item.status == 3 or item.status == 4 %} style="display:none"{% endif %} title="{% trans "Аннулировать" %}">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="buy_ticket">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Покупка билета" %}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <p>{% trans "Номер билета разделяется на два значения серия и сам номер." %}</p>
                    <p>{% trans "Вам необходимо сначало выбрать серию затем выбрать номер билета." %}</p>
                </div>
                <div class="well">
                    <input id="addserial" type="text" value="" name="addserial" class="input-sm">
                </div>
                <div class="well">
                    <input id="addtickets" type="text" value="" name="addtickets" class="input-sm">
                </div>
                <button class="btn btn-success btn-block" id="confirm_ticket">{% trans "Подтвердить" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.phones layer end -->
<!-- /.wrapsemibox end-->
<script src="/st/js/game.js"></script>
{% endblock %}