<!DOCTYPE html>
<html lang="ru">
<head>
    {% load i18n %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta property="og:title" content="{% trans "Официальный сайт лотереи" %} Euro Paradise">
    <meta property="og:site_name" content="{% trans "Официальный сайт лотереи" %} Euro Paradise">
    <meta property="og:image" content="/st/img/logo.png">
    <meta property="og:type" content="website">
    <meta name="description" content="{% trans "Официальный сайт лотереи" %} Euro Paradise">
    <meta name="keywords" content="{% trans "лотерея, Лотерея Euro Paradise, официальный сайт лотереи Euro Paradise, официальный сайт Europaradise, Тиражная лотерея, Розыгрыш призов, выиграть телефон, выиграть деньги, выиграть путешествие, выиграть автомобиль, выиграть пентхаус, всероссийская лотерея, выигрыш в лотерею, официальные лотереи, проведение лотереи, розыгрыш лотереи, онлайн лотерея" %}">
    <meta name="author" content="Andrew Ghostuhin">
    <!-- Google Verification -->
    <meta name="google-site-verification" content="iVL1PaH7FpjjphOl_Z3fTZfyknOwj6hOU_6pAL_M6rQ">
    <!-- Yandex Verification -->
    <meta name='yandex-verification' content='7e42a4477f54d53d'>
    <!-- Сценарий работы для мобильных устройств -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подгрузка стилей -->
    <link href="/st/css/bootstrap.css" rel="stylesheet">
    <link href="/st/css/style.css" rel="stylesheet">
    <link href="/st/cp/messenger/css/messenger.css" rel="stylesheet" />
    <link href="/st/cp/messenger/css/messenger-theme-flat.css" rel="stylesheet" />
    <!-- Responsive -->
    <link href="/st/css/responsive.css" rel="stylesheet">
    <!-- Тип разметки -->
    <link href="/st/css/layout-wide.css" rel="stylesheet">
    <!-- Выбор шкурки -->
    <link href="/st/css/skin-blue.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/st/img/favicon.ico">
    <!-- IE -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <link href="/st/css/ie8.css" rel="stylesheet">
    <![endif]-->

    <!--JavaScript translation catalog-->
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    <!-- Подгрузка кастомных стилей -->
    <link rel="stylesheet" href="/st/css/bootstrap-formhelpers.min.css" />
    <link rel="stylesheet" href="/st/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/st/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/st/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/st/css/prettyPhoto.css" />
    <link rel="stylesheet" href="/st/css/select2.css" />

    <script src="/st/js/jquery.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26542752-14']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23298406 = new Ya.Metrika({id:23298406,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/23298406" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class="off">
<!-- /.wrapbox start-->
<div class="wrapbox">
<!-- TOP AREA
================================================== -->
<section class="toparea">
    <div class="container">
        <div class="row">
            <div class="col-md-10 top-text pull-left animated fadeInLeft">
                    <span itemscope itemtype="http://schema.org/Organization">
                        <meta itemprop="address" content="Kralja Nikole b. 108 Podgorica, Montenegro"/>
                        <meta itemprop="name" content="Euro Paradise"/>
                        <meta itemprop="url" content="http://euro-paradise.com"/>
                        <i class="icon-phone"></i>{% trans "Телефоны для связи" %}: +382 68326121
                        <span class="separator"></span>
                        <i class="icon-envelope"></i> Email: <a href="mailto:info@euro-paradise.com">info@euro-paradise.com</a>
                        <span class="separator"></span>
                    </span>
                {% if user.is_authenticated %}
                <a href="/cp/"><i class="icon-user"></i> {{ user.username }} </a>
                &nbsp;
                <a href="/logout/"><i class="icon-off"></i> {% trans "Выйти" %} </a>
                {% else %}
                <a href="/reg/"><i class="icon-user"></i> {% trans "Вход / Регистрация" %}</a>
                {% endif %}
            </div>
            <div class="col-md-2 top-text pull-left animated fadeInLeft">
                <!--Select Lang start-->
                {% get_language_info for LANGUAGE_CODE as lang %}
                <a data-toggle="modal" data-target="#language_modal" style="cursor: pointer">
                    <i class="glyphicon bfh-flag-{% if lang.code == 'sr' %}ME{% elif lang.code == 'ru' %}RU{% elif lang.code == 'en' %}GB{% elif lang.code == 'de' %}DE{% else %}{% endif %}"></i> {{ lang.name }}
                </a>
                <!--Select Lang end-->
            </div>
        </div>
    </div>
</section>
<!-- /.toparea end-->
<!-- NAV
================================================== -->
{% load menu %}{% menu request.path user %}
<!-- /nav end-->

{% block content %}{% endblock %}

<!-- Modal -->
<div class="modal fade" id="payments" tabindex="-1" role="dialog" aria-labelledby="payments" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="paymentsLabel">{% trans "Выберите платёжную систему" %}</h4>
            </div>
            <div class="modal-body">
                {% if purses %}
                    {% for item in purses %}
                    <a href="#" data-payment-type="p" value="{{ item.id }}"><img src="/st/p/p/{{ item.id }}.png"/></a>
                    {% endfor %}
                {% endif %}
                {% if banks %}
                    {% for item in banks %}
                    <a href="#" data-payment-type="b" value="{{ item.id }}"><img src="/st/p/b/{{ item.id }}.png"/></a>
                    {% endfor %}
                {% endif %}
                <h4 class="modal-title" id="paymentsLabel2">{% trans "Оплата бонусами" %}</h4>
                <a href="#" class="btn btn-primary btn-lg btn-block" data-payment-type="bonus" value="{{ item.id }}">OK</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--select language-->
<div class="modal fade" id="language_modal" tabindex="-1" role="dialog" aria-labelledby="payments" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Выберите язык" %}</h4>
            </div>
            <div class="modal-body">
                <form id="language_form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}" />
                    <input name="language" type="hidden" value="{{ LANGUAGE_CODE }}" />
                    <div>
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <a href="#" class="select-language" data-value="{{ language.code }}"><i class="glyphicon bfh-flag-{% if language.code == 'sr' %}ME{% elif language.code == 'ru' %}RU{% elif language.code == 'en' %}GB{% elif language.code == 'de' %}DE{% else %}{% endif %}"></i>{{ language.name }}</a><br>
                        {% endfor %}
                    </div><!-- /btn-success -->
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- BEGIN FOOTER
================================================== -->
<section>
    <div class="footer">
        <div class="container notransition">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title"><span class="colortext">E</span>uro <span class="font100">Paradise</span></h1>
                    <p>
                        {% trans "Лотерея" %} Euro Paradise
                    </p>
                    <p>
                        {% trans "Онлайн и бесплатно" %}
                    </p>
                    <p>
                        {% trans "Удача с тобой!" %}
                    </p>
                </div>
                <div class="col-md-3">
                    <h1 class="title"><span class="colortext">{% trans "Н</span>аши" %} <span class="font100">{% trans "Контакты" %}</span></h1>
                    <div class="footermap">
                        <p>
                            <strong>{% trans "Адрес" %}: </strong> Kralja Nikole b. 108 Podgorica, Montenegro
                        </p>
                        <p>
                            <strong>{% trans "Телефон" %}: </strong> +382 68326121
                        </p>
                        <p>
                            <strong>Email: </strong> <a href="mailto:info@euro-paradise.com">info@euro-paradise.com</a>
                        </p>
                        <ul class="social-icons list-soc">
                            <li><a href="http://vk.com/europaradise" target="_blank" title="{% trans "Лотерея Euro Paradise ВКонтакте" %}"><i class="icon icon-vk"></i></a></li>
                            <li><a href="https://www.facebook.com/pages/Euro-Paradise/649628278393501" target="_blank" title="{% trans "Лотерея Euro Paradise на " %}Facebook"><i class="icon icon-facebook"></i></a></li>
                            <li><a href="https://plus.google.com/b/103732764296494428257/103732764296494428257/" target="_blank" title="{% trans "Лотерея Euro Paradise на " %}Google Plus"><i class="icon icon-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="title"><span class="colortext">{% trans "О</span>тзывы" %} <span class="font100">{% trans "клиентов" %}</span></h1>
                    <div id="quotes">
                        <div class="textItem">
                            <div class="avatar">
                                <img src="/st/img/demo/avatar.jpg" alt="avatar">
                            </div>
                            <a href="#" target="_blank">"Testimonials place here.<span style="font-family:arial;">"</span></a><br/><b>Username</b>
                        </div>
                        <div class="textItem">
                            <div class="avatar">
                                <img src="/st/img/demo/avatar.jpg" alt="avatar">
                            </div>
                            <a href="#" target="_blank">"Testimonials place here.<span style="font-family:arial;">"</span></a><br/><b>Username</b>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="title"><span class="colortext">{% trans "Б</span>ыстрое" %} <span class="font100">{% trans "сообщение" %}</span></h1>
                    <div class="done">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {% trans "Ваше сообщение доставленно. Спасибо!" %}
                        </div>
                    </div>
                    <form method="post" action="/contacts/" id="contactform">
                        <div class="form">
                            {% csrf_token %}
                            <input class="col-md-6" type="text" name="name" placeholder="{% trans "Имя" %}">
                            <input class="col-md-6" type="text" name="email" placeholder="E-mail">
                            <textarea class="col-md-12" name="message" rows="4" placeholder="{% trans "Сообщение" %}" maxlength="1000"></textarea>
                            <button type="submit" id="submit" class="btn">{% trans "Отправить" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p id="back-top">
        <a href="#top"><span></span></a>
    </p>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="pull-left">
                        <a href="http://vk.com/torinasakura" target="_blank" title="Andrew Ghostuhin on VK" style="color: #FFFFFF">&copy; Copyright 2013 Andrew Ghostuhin</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <!-- Yandex.Metrika informer -->
                        <a href="http://metrika.yandex.ru/stat/?id=23298406&amp;from=informer"
                           target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23298406/3_0_4AE4FFFF_2AC4EAFF_1_pageviews"
                                                               style="width:88px; height:31px; border:0;" alt="{% trans "Яндекс.Метрика" %}" title="{% trans "Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" %}" onclick="try{Ya.Metrika.informer({i:this,id:23298406,lang:'ru'});return false}catch(e){}"/></a>
                        <!-- /Yandex.Metrika informer -->

                        <!-- Yandex.Metrika counter -->
                        <script type="text/javascript">
                            (function (d, w, c) {
                                (w[c] = w[c] || []).push(function() {
                                    try {
                                        w.yaCounter23298406 = new Ya.Metrika({id:23298406});
                                    } catch(e) { }
                                });

                                var n = d.getElementsByTagName("script")[0],
                                        s = d.createElement("script"),
                                        f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                s.async = true;
                                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                if (w.opera == "[object Opera]") {
                                    d.addEventListener("DOMContentLoaded", f, false);
                                } else { f(); }
                            })(document, window, "yandex_metrika_callbacks");
                        </script>
                        <noscript><div><img src="//mc.yandex.ru/watch/23298406" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                        <!-- /Yandex.Metrika counter -->
                    <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='http://www.liveinternet.ru/click' "+
                        "target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
                        escape(document.referrer)+((typeof(screen)=="undefined")?"":
                        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                        ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
                        "' alt='' title='LiveInternet:"+gettext('показано число просмотров за 24 ') + gettext('часа, посетителей за 24 часа и за сегодня')+ "'" +
                        "border='0' width='88' height='31'><\/a>")
                //--></script><!--/LiveInternet--></p>
                </div>
                <div class="col-md-5">
                    <ul class="footermenu pull-right">
                        <li><a href="/impresum/">Impresum</a></li>
                        <li><a href="/contacts/">{% trans "Контакты" %}</a></li>
                        <li><a href="/rules/">{% trans "Правила игры" %}</a></li>
                        <li><a href="/online/">{% trans "Прямая трансляция" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /footer section end-->
</div>
<!-- /.wrapbox ends-->
<!-- Скрипты, для особо любознательных, помещены вниз для оптимизации загрузки страницы
================================================== -->

<!--[if lte IE 8]>
<script src="/st/js/excanvas.min.js"></script>
<![endif]-->
<script src="/st/js/bootstrap.js"></script>
<script src="/st/js/plugins.js"></script>
<script src="/st/js/common.js"></script>
<script src="/st/js/bootbox.min.js"></script>
<script src="/st/js/jquery.dataTables.min.js"></script>
<script src="/st/js/jquery.dataTables.bootstrap.js"></script>
<script src="/st/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/st/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="/st/js/jquery.ui.touch-punch.min.js"></script>
<script src="/st/js/jquery.gritter.min.js"></script>
<script src="/st/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="/st/js/jquery.validate.min.js"></script>
<script src="/st/js/select2.min.js"></script>
<script src="/st/js/bootstrap.touchspin.js"></script>
<script src="/st/js/bootstrap-formhelpers.js"></script>
<script src="/st/js/jquery.prettyPhoto.js"></script>
<script src="/st/cp/messenger/js/messenger.min.js"></script>
<script src="/st/cp/messenger/js/messenger-theme-flat.js"></script>
<!-- Custom JS -->
<script src="/st/js/custom.js"></script>
{% if request.session.alert %}{% load alert %}{% alert request.session %}{% endif %}
</body>
</html>
