{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Бонусная программа" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <!-- CONTENT START
    ================================================== -->
    <div class="row">
        <!-- Begin About -->
        <div class="col-md-8 animated fadeInLeft notransition">
            <h1 class="smalltitle">
                <span>{% trans "Маркентиговый план" %}</span>
            </h1>
            <blockquote>
            <h4>{% trans "Заработок от прямой рекомендации" %}</h4>
                <p>
                    {% trans "За покупку вашим рефералом билета: Розыгрыш Телефон - 2,75 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку вашим рефералом билета: Розыгрыш Деньги - 4,4 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку вашим рефералом билета: Розыгрыш Путешествие - 4,4 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку вашим рефералом билета: Розыгрыш Автомобиль - 8,25 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку вашим рефералом билета: Розыгрыш Пентхаус - 11,55 Бонус пункта" %}
                </p>
                <h4>{% trans "Заработок от рекомендаций ваших рефералов" %}</h4>
                <h4>{% trans "до 5 ступеней вниз вы зарабатываете с каждой продажи." %}</h4>
                <p>
                    {% trans "За покупку рефералом билета: Розыгрыш Телефон - 0,25 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку рефералом билета: Розыгрыш Деньги - 0,40 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку рефералом билета: Розыгрыш Путешествие - 0,40 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку рефералом билета: Розыгрыш Автомобиль - 0,75 Бонус пункта" %}
                </p>
                <p>
                    {% trans "За покупку рефералом билета: Розыгрыш Пентхаус - 1 Бонус пункта" %}
                </p>
                </blockquote>
        </div>
        <div class="col-md-4 animated fadeInRight notransition">
            <h1 class="smalltitle">
                <span>{% trans "Обращение" %}</span>
            </h1>
            <blockquote>
                <p>
                    {% trans "Дорогой Клиент! Добро пожаловать на наш портал «Бонусной программы, ИГРА НА УДАЧУ!»" %}
                </p>
                <p>
                    {% trans "Немного о том, что это… Бонусная программа — это наше «Спасибо» партнерам, которые активно участвуют в наших розыгрышах и рекомендуют наш портал другим пользователям." %}
                </p>
                <p>
                    {% trans "Участвуя в программе, Вы можете накапливать виртуальные бонусные пункты и получать за это реальные вознаграждения, например, купить билет для участия в розыгрыше или же обналичить в деньги." %}
                </p>
                <p>
                    {% trans "Чтобы заработать бонусные пункты, Вам достаточно просто быть зарегистрированным пользователем Euro-Paradise. И рекомендовать нас другим участникам и в случае покупки по вашей рекомендации вам будут начислены бонусы." %}
                </p>
                <p>
                    {% trans "На бонусы вы имеете возможность купить билет, или же обналичить, заполнив заявку в личном кабинете." %}
                </p>
            </blockquote>
        </div>
        <!-- About end -->
    </div>
</div>
<!-- /.wrapsemibox end-->
{% endblock %}