{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Панель управления" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
{% endblock %}