{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Восстановление пароля" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box">

                <!-- Widget Header Start -->
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="lighter">{% trans "Восстановление пароля" %}</h4>
                </div>
                <!-- Widget Header End -->

                <!-- Widget Body Start -->
                <div class="widget-body">

                    <div class="widget-main">

                        <!-- Login Form Start -->
                        <form class="form-horizontal" id="fpassform" action="{{ request.path }}" method="post">
                            {% csrf_token %}
                            <!-- Start Login Field-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="pass">{% trans "Введите логин" %}</label>

                                <div class="col-xs-12 col-sm-9">
                                    <input type="password" id="pass" name="login" placeholder="{% trans "Введите логин" %}" class="col-xs-10 col-sm-5"/>
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <!-- End Login Field-->

                            <!-- Summoning Buttons -->
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-info" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        {% trans "Восстановить" %}
                                    </button>
                                </div>
                            </div>
                            <!-- Summoning End -->
                        </form>
                        <!-- Login Form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}