{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Восстановление пароля" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 box effect6 text-center">
            <h3 class="fontregular"><i class="icon-repeat"></i>{% trans "Восстановление пароля" %}</h3>
                    <form id="fpass_form" action="{{ request.path }}" method="post" role="form">
                        {% csrf_token %}
                        <input type="text" class="form-control" name="login" id="login" placeholder="{% trans "Введите логин" %}">
                        <br>
                        <button type="submit" class="btn btn-primary btn-lg btn-block submit">{% trans "Восстановить пароль" %}</button>
                    </form>
        </div>
    </div>
</div>
{% endblock %}