{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Как начать играть" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <!-- CONTENT START
    ================================================== -->
    <div class="row">
        <div class="col-md-12">
            <!-- Begin Timeline -->
            <div class="col-md-6">
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmtime"><span>1 {% trans "Шаг" %}</span></div>
                        <div class="cbp_tmicon">
                            <i class="icon-user"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <h2>{% trans "Регистрация" %}</h2>

                            <p>
                                {% trans "Для того, чтобы зарегистрироваться на сайте лотереи Euro Paradise, Вам необходимо нажать на кнопку «Регистрация» из которой Вы попадёте в поле регистрации. При регистрации мы просим указывать только реальные, личные и контактные данные. Это позволяет нам обеспечивать безопасность игры, операций с денежными средствами на счетах клиентов, а также постоянно поддерживать высокий уровень сервиса." %}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmtime"><span>2 {% trans "Шаг" %}</span></div>
                        <div class="cbp_tmicon">
                            <i class="icon-move"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <h2>{% trans "Выбор игры" %}</h2>

                            <p>
                                {% trans "После того, как Вы ознакомитесь с функционалом сайта и правилами лотерейных розыгрышей, Вы можете приступить к игре. Для этого нажмите кнопку «Розыгрыши» на главной панели сайта. Выберите понравившийся Вам тип розыгрыша и закажите номер билета. Номер билета вы можете выбрать свой или взять любой другой номер, предложенный Вам системой. После выбора номера нажмите кнопку «Подтвердить номер»." %}
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmtime"><span>3 {% trans "Шаг" %}</span></div>
                        <div class="cbp_tmicon">
                            <i class="icon-credit-card"></i>
                        </div>
                        <div class="cbp_tmlabel">
                            <h2>{% trans "Оплата билета" %}</h2>

                            <p>
                                {% trans "После выбора номера Вам необходимо оплатить билет. Выберите функцию «Оплатить билет» и следуя рекомендациям выберите подходящую платежную систему и оплатите билет." %}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Enf Timeline -->
            <!-- Begin Panel -->
            <div class="col-md-6">
                <div class="panel2">
                    {% trans "Зачем Вам совершать утомительные поездки в различные казино или покупать лотерейные билеты, если Вы можете играть не выходя из дома? Лотерея Euro Paradise с радостью предоставит Вам такую возможность! Не нужно ничего скачивать, просто зарегистрируйтесь и Вам станут доступны уникальные виды лотерейных розыгрышей. Подробнее вы сможете узнать о них в разделе «Правила лотереи». Для лучшего и более быстрого освоения сайта и правил лотерейных розыгрышей Вы можете воспользоваться нашим словарем Терминов. Начать играть и выигрывать на Euro Paradise очень просто. Для этого вам необходимо пройти всего три простых шага: РЕГИСТРАЦИЯ -> ВЫБОР ИГРЫ ->ОПЛАТА БИЛЕТА." %}
                </div>
                <div class="panel2">
                    {% trans "После подтверждения оплаты администратором Вы становитесь участником розыгрыша. Розыгрыш будет проводиться в режиме прямой трансляции по интернету после того, как все билеты будут проданы. Вы будете уведомлены отдельно о дате проведения розыгрыша по электронной почте. Вы можете всегда присутствовать на прямой трансляции розыгрыша или посмотреть запись." %}
                </div>
            </div>
            <!-- End Panel -->
            <!-- content end -->
        </div>
    </div>
</div>
<!-- /.wrapsemibox end-->
{% endblock %}
