{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи Euro Paradise" %} {{ title }}{% endblock %}
{% block content %}
<!-- CAROUSEL -->
<section class="carousel carousel-fade slide home-slider" id="c-slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#c-slide" data-slide-to="0" class="active"></li>
        <li data-target="#c-slide" data-slide-to="1" class=""></li>
        <li data-target="#c-slide" data-slide-to="2" class=""></li>
        <li data-target="#c-slide" data-slide-to="3" class=""></li>
        <li data-target="#c-slide" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background: url(/st/img/slides/i.png);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_1">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">{% trans "Выиграть телефон" %} <span class="colortext">iPhone 5</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Стоимость билета" %}: 30 <i class="icon-euro"> </i>
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Шанс" %} 1 :50
                            </p>
                        </div>
                        <div class="animated fadeInUpBig notransition">
                            <a class="buttonblack" href="/phones/"><i class="icon-phone-sign"> </i>{% trans "Выиграть телефон" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(/st/img/slides/m.png);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_2">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">{% trans "Выиграть деньги" %} <span class="colortext">5000 <i class="icon-euro"> </i> </span></h1>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Стоимость билета" %}: 40 <i class="icon-euro"> </i>
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Шанс" %} 1 :250
                            </p>
                        </div>
                        <div class="animated fadeInUpBig notransition">
                            <a class="buttonblack" href="/moneys/"><i class="icon-money"> </i>{% trans "Выиграть деньги" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(/st/img/slides/t.png);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_3">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">{% trans "Выиграть путешествие в Черногорию" %} <span class="colortext">{% trans "на 2 персоны" %}</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Стоимость билета" %}: 50 <i class="icon-euro"> </i>
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Шанс" %} 1 :250
                            </p>
                        </div>
                        <div class="animated fadeInUpBig notransition">
                            <a class="buttonblack" href="/travels/"><i class="icon-plane"> </i>{% trans "Выиграть путешествие" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(/st/img/slides/a.png);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_4">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">{% trans "Выиграть автомобиль" %} <span class="colortext">VW GOLF - 5</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Стоимость билета" %}: 75 <i class="icon-euro"> </i>
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Шанс" %} 1 :700
                            </p>
                        </div>
                        <div class="animated fadeInUpBig notransition">
                            <a class="buttoncolor"href="/autos/"><i class="icon-truck"> </i>{% trans "Выиграть автомобиль" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background: url(/st/img/slides/p.png);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fadein scaleInv anim_5">
                        <div class="fadein scaleInv anim_2">
                            <h1 class="carouselText1 animated fadeInUpBig">{% trans "Выиграть" %} <span class="colortext">{% trans "пентхаус" %}</span></h1>
                        </div>
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Стоимость билета" %}: 105 <i class="icon-euro"> </i>
                            </p>
                        </div>
                        <div class="fadein scaleInv anim_1">
                            <p class="carouselText2 animated fadeInLeft">
                                {% trans "Шанс" %} 1 :6000
                            </p>
                        </div>
                        <div class="animated fadeInUpBig notransition">
                            <a class="buttonblack" href="/penthouses/"><i class="icon-home"> </i>{% trans "Выиграть пентхаус" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.carousel-inner -->
    <a class="left carousel-control animated fadeInLeft" href="#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="right carousel-control animated fadeInRight" href="#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
</section>
<!-- /.carousel end-->
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
<div class="semiboxshadow text-center">
    <img src="/st/img/shp.png" class="img-responsive">
</div>
<!-- INTRO NOTE
================================================== -->
<section class="intro-note topspace10">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{% trans "ИГРА НА УДАЧУ С" %} <span class="colortext">EURO PARADISE</span></h1>
                    <p>
                        {% trans "Выиграй сам и расскажи знакомым!" %}
                    </p>
                </div>
            </div>
        </div>
</section>
<!-- /.intro-note end-->
<!-- Creative BOXES
================================================== -->
<section class="service-box topspace10">
        <div class="container">
            <div class="row">
                <ul class="ca-menu">
                    <li class="col-md-3">
                        <a href="/reg/">
                            <div class="grey-box-icon">
                                <div class="icon-box-top grey-box-icon-pos">
                                    <i class="fontawesome-icon medium circle-white center icon-user"></i>
                                </div>
                                <div class="ca-content">
                                    <h2 class="ca-main">{% trans "Регистрация" %}</h2>
                                    <h3 class="ca-sub">{% trans "Пройти регистрацию" %}</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-3 notransition">
                        <a href="/rules/">
                            <div class="grey-box-icon">
                                <div class="icon-box-top grey-box-icon-pos">
                                    <i class="fontawesome-icon medium circle-white center icon-info-sign"></i>
                                </div>
                                <div class="ca-content">
                                    <h2 class="ca-main">{% trans "Правила игры" %}</h2>
                                    <h3 class="ca-sub">{% trans "Узнайте о наших правилах" %}</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-3 notransition">
                        <a href="/archives/">
                            <div class="grey-box-icon">
                                <div class="icon-box-top grey-box-icon-pos">
                                    <i class="fontawesome-icon medium circle-white center icon-trophy"></i>
                                </div>
                                <div class="ca-content">
                                    <h2 class="ca-main">{% trans "Победители" %}</h2>
                                    <h3 class="ca-sub">{% trans "Наши счастливчики" %}</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="col-md-3 notransition">
                    <a href="/bonus/">
                            <div class="grey-box-icon">
                                <div class="icon-box-top grey-box-icon-pos">
                                    <i class="fontawesome-icon medium circle-white center icon-group"></i>
                                </div>
                                <div class="ca-content">
                                    <h2 class="ca-main">{% trans "Бонусная программа" %}</h2>
                                    <h3 class="ca-sub">{% trans "Узнайте о наших бонусах" %}</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
<!-- /.creative-box end-->
<!-- Drawing Slides
================================================== -->
<section class="grayarea recent-projects-home topspace30 notransition">
    <div class="container">
        <div class="row">
            <h1 class="small text-center topspace0">{% trans "Розыгрыши" %}</h1>
            <p class="notransition text-center topspace20 bigtext"><span class="fontpacifico colortext">Good luck <i class="icon-smile"> </i> </span></p>
            <div class="text-center smalltitle"></div>
            <div class="col-md-12">
                <div class="list_carousel text-center">
                    <div class="carousel_nav">
                        <a class="prev" id="car_prev" href="#"><span>prev</span></a>
                        <a class="next" id="car_next" href="#"><span>next</span></a>
                    </div>
                    <div class="clearfix">
                    </div>
                    <ul id="carousel-projects">
                        <!--Drawing 1-->
                        <li>
                            <div class="boxcontainer">
                                <img src="/st/img/slides/is.png" alt="Выиграть телефон">
                                <div class="roll" style="top: -110.0px;">
                                    <div class="wrapcaption" style="top: 64%;">
                                        <a href="/phones/"><i class="icon-apple captionicons"></i></a>
                                    </div>
                                </div>
                                <h1><a href="/phones/">{% trans "Выиграть телефон" %}</a></h1>
                                <p>
                                    <a href="/phones/" class="btn btn-info btn-lg btn-block">{% trans "Купить билет" %}</a>
                                </p>
                            </div>
                        </li>
                        <!--Drawing 2-->
                        <li>
                            <div class="boxcontainer">
                                <img src="/st/img/slides/ms.png" alt="Выиграть деньги">
                                <div class="roll" style="top: -110.0px;">
                                    <div class="wrapcaption" style="top: 64%;">
                                        <a href="/moneys"><i class="icon-money captionicons"></i></a>
                                    </div>
                                </div>
                                <h1><a href="/moneys/">{% trans "Выиграть деньги" %}</a></h1>
                                <p>
                                    <a href="/moneys/" class="btn btn-info btn-lg btn-block">{% trans "Купить билет" %}</a>
                                </p>
                            </div>
                        </li>
                        <!--Drawing 3-->
                        <li>
                            <div class="boxcontainer">
                                <img src="/st/img/slides/ts.png" alt="Выиграть путешествие">
                                <div class="roll" style="top: -110.0px;">
                                    <div class="wrapcaption" style="top: 64%;">
                                        <a href="/travels/"><i class="icon-plane captionicons"></i></a>
                                    </div>
                                </div>
                                <h1><a href="/travels/">{% trans "Выиграть путешествие" %}</a></h1>
                                <p>
                                    <a href="/travels/" class="btn btn-info btn-lg btn-block">{% trans "Купить билет" %}</a>
                                </p>
                            </div>
                        </li>
                        <!--Drawing 4-->
                        <li>
                            <div class="boxcontainer">
                                <img src="/st/img/slides/as.png" alt="Выиграть авто">
                                <div class="roll" style="top: -110.0px;">
                                    <div class="wrapcaption" style="top: 64%;">
                                        <a href="/autos/"><i class="icon-truck captionicons"></i></a>
                                    </div>
                                </div>
                                <h1><a href="/autos/">{% trans "Выиграть авто" %}</a></h1>
                                <p>
                                    <a href="/autos/" class="btn btn-info btn-lg btn-block">{% trans "Купить билет" %}</a>
                                </p>
                            </div>
                        </li>
                        <!--Drawing 5-->
                        <li>
                            <div class="boxcontainer">
                                <img src="/st/img/slides/ps.png" alt="Выиграть пентхаус">
                                <div class="roll" style="top: -110.0px;">
                                    <div class="wrapcaption" style="top: 64%;">
                                        <a href="/penthouses/"><i class="icon-home captionicons"></i></a>
                                    </div>
                                </div>
                                <h1><a href="/penthouses/">{% trans "Выиграть пентхаус" %}</a></h1>
                                <p>
                                    <a href="/penthouses/" class="btn btn-info btn-lg btn-block">{% trans "Купить билет" %}</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.drawing slides end-->
<!-- BEGIN CALL TO ACTION PANEL
================================================== -->
<section class="container notransition topspace40">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <p class="bigtext">{% trans "Удача это прекрасно, и вы должны иметь" %}<span class="fontpacifico colortext"> {% trans "счастье" %}</span>
                        {% trans "получить такую возможность" %}</p>
                    <p>{% trans "Зарегистрируйтесь и воспользуйтесь шансом выиграть." %}</p>
                </div>
                <div class="text-center topspace20">
                    <a href="/reg/" class="buttonblack"><i class="icon-user"></i>&nbsp; {% trans "Регистрация" %}</a>
                    <a href="/rules/" class="buttoncolor"><i class="icon-info-sign"></i>&nbsp; {% trans "Правила игры" %}</a>
                </div>
            </div>
        </div>
</section>
<!-- /. end call to action-->
</div>
<!-- /.wrapsemibox end-->
<script>
    /* ---------------------------------------------------------------------- */
    /*	Carousel
     /* ---------------------------------------------------------------------- */
    $(window).load(function(){
        $('#carousel-projects').carouFredSel({
            responsive: true,
            items       : {
                width       : 200,
                height      : 295,
                visible     : {
                    min         : 1,
                    max         : 5
                }
            },
            width: '200px',
            height: '295px',
            auto: true,
            circular	: true,
            infinite	: false,
            prev : {
                button		: "#car_prev",
                key			: "left",
            },
            next : {
                button		: "#car_next",
                key			: "right",
            },
            swipe: {
                onMouse: true,
                onTouch: true
            },
            scroll: {
                easing: "swing",
                duration: 1200,
                pauseOnHover: true
            }
        });
    });
</script>
<script>
    //CALL TESTIMONIAL ROTATOR
    $( function() {
        /*
         - how to call the plugin:
         $( selector ).cbpQTRotator( [options] );
         - options:
         {
         // default transition speed (ms)
         speed : 700,
         // default transition easing
         easing : 'ease',
         // rotator interval (ms)
         interval : 8000
         }
         - destroy:
         $( selector ).cbpQTRotator( 'destroy' );
         */
        $( '#cbp-qtrotator' ).cbpQTRotator();
    } );
</script>
{% endblock %}