{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи" %} Euro Paradise {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Прямая трансляция" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-md-8 animated fadeInLeft notransition">
    <h1 class="smalltitle">
        <span>{% trans "Прямая трансляция" %}</span>
    </h1>
    <!-- Begin Video -->
    <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe allowfullscreen="" src="//www.youtube.com/embed/t5a-lhgJ62k" style="border:0px;">
        </iframe>
    </div>
    <!-- End Video -->
            </div>
        <div class="col-md-4 animated fadeInRight notransition">
            <h1 class="smalltitle">
                <span>{% trans "Контакты" %}</span>
            </h1>
            <h4 class="font100">{% trans "Юридический адрес" %}</h4>
            <ul class="unstyled">
                <li><span style="margin-right:5px;"><i class="icon-map-marker"></i></span>{% trans "Адрес" %}: Kralja Nikole b. 108 Podgorica, Montenegro</li>
                <li><span style="margin-right:3px;"><i class="icon-phone"></i></span> {% trans "Телефон" %}: +382 68326121</li>
                <li><span style="margin-right:2px;"><i class="icon-envelope"></i></span> Email: <a href="mailto:info@euro-paradise.com">info@euro-paradise.com</a></li>
            </ul>
            <h4 class="font100">{% trans "Рабочее время" %}</h4>
            <ul class="unstyled">
                <li><i class="icon-time"></i> {% trans "Понедельник - Пятница с 10:00 до 17:00" %}</li>
            </ul>
        </div>
        </div>
</div>
<!-- /.wrapsemibox end-->
{% endblock %}
