{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи Euro Paradise" %} {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Регистрация" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">

    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <!-- Login Form Start -->
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 box effect6 text-center">
            <h3 class="fontregular"><i class="icon-lock"></i>{% trans "Вход" %}</h3>

            <form id="login_form" action="/login/" method="post" role="form">
                {% if next %}<input type='hidden' name='next' value='{{ next }}'>{% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="login" id="login_auth" placeholder="{% trans "Логин" %}">
                </div>
                <br>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password_auth"
                           placeholder="{% trans "Пароль" %}">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block submit"><i class="icon-lock"></i> {% trans "Войти" %}
                </button>
                <br>
                <a href="/fpass/" class="btn btn-primary btn-lg btn-block"><i class="icon-question-sign"></i> {% trans "Забыли пароль?" %}</a>
            </form>
        </div>
        <!-- Login Form End -->
    </div>
    <div class="row">
        <!-- Registration Form Start -->
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 box effect6 text-center">
            <h3 class="fontregular"><i class="icon-plus-sign"></i> {% trans "Регистрация" %}</h3>

            <form id="reg_form" action="/reg/" method="post" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="{% trans "Введите имя" %}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="surname" placeholder="{% trans "Введите фамилию" %}">
                </div>
                <div class="row">
                    <input type="hidden" name="birthday">

                    <div class="col-xs-2" style="padding-left: 0">
                        <div class="form-group">
                            <div class="form-group">
                                <select name="day" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <select name="month" class="form-control">
                                <option selected disabled>{% trans "Месяц" %}:</option>
                                <option value="01">{% trans "Января" %}</option>
                                <option value="02">{% trans "Февраля" %}</option>
                                <option value="03">{% trans "Марта" %}</option>
                                <option value="04">{% trans "Апреля" %}</option>
                                <option value="05">{% trans "Мая" %}</option>
                                <option value="06">{% trans "Июня" %}</option>
                                <option value="07">{% trans "Июля" %}</option>
                                <option value="08">{% trans "Августа" %}</option>
                                <option value="09">{% trans "Сентября" %}</option>
                                <option value="10">{% trans "Октября" %}</option>
                                <option value="11">{% trans "Ноября" %}</option>
                                <option value="12">{% trans "Декабря" %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <select name="year" class="form-control ">
                                <option selected disabled>{% trans "Год" %}:</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select id="countries_states1" class="form-control bfh-countries" data-country="RU" blank="false"
                            name="country"></select>
                </div>
                <div class="form-group">
                    <select class="form-control bfh-states" data-country="countries_states1" blank="false"
                            name="city"></select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control bfh-phone" name="phone" data-country="countries_states1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="skype" placeholder="{% trans "Введите логин" %} skype">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="{% trans "Укажите свой" %} email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="login" placeholder="{% trans "Придумайте логин" %}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="{% trans "Придумайте пароль" %}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password2" placeholder="{% trans "Повторите пароль" %}">
                </div>
                <label class="checkbox">
                    <input type="checkbox" checked style="float: none" name="agree">
                    <a data-toggle="modal" data-target="#con_of_reg" style="cursor: pointer">{% trans "Я согласен с условиями регистрации" %}</a>
                </label>
                <button type="submit" class="btn btn-primary btn-lg btn-block submit"><i class="icon-plus-sign"></i>{% trans "Зарегистрироваться" %}
                </button>
            </form>
        </div>
        <!-- Registration Form End -->
    </div>
</div>
</div>
{% endblock %}