{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи Euro Paradise" %} {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Правила игры" %}</h1>
        <p class="animated fadeInRightBig container page-description notransition">
            {% trans "Действовать без правил - самое трудное и <br> самое утомительное занятие на этом свете." %}
        </p>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <!-- Rules Accordion Start
    ================================================== -->
    <div class="row">
    <div class="box effect5">
        <div id="col-md-12">
            <div id="skill">
                <li><span class="thebar progressdefault" style="width:100%;"></span>
                    <h3 class="fontregular"><i class="icon-tag"></i>{% trans "Правила игры" %}</h3>
                </li>
            </div>
                <!--Begin Rules Accordion-->
                <div id="accordion-container">
                    <h2 class="accordion-header">{% trans "Розыгрыши" %}</h2>

                    <div class="accordion-content">
                        <p class="first-p">
                            {% trans "Розыгрыши проводятся компанией" %} EUROPARADISE d.o.o., Kralja Nikole br. 108, Podgorica
                        </p>
                    </div>
                    <h2 class="accordion-header">{% trans "Участие" %}</h2>

                    <div class="accordion-content">
                        <ol>
                            <li>{% trans "Участвовать могут все дееспособные лица, достигшие совершеннолетия. Для несовершеннолетних требуется, если не предусмотрено иное, согласие законного опекуна." %}
                            <li>{% trans "Человек участвует в конкурсе, заполнив регистрационный бланк и нажав кнопку «Отправить» компании EUROPARADISE d.o.o. Каждый участник несет ответственность за правильность заполнения бланка, в частности, его адреса электронной почты и / или почтового адреса." %}
                            <li>{% trans "Для участия в лотерее необходимо, чтобы все личные данные были действительными. В противном случае вы можете быть исключены из розыгрыша в соответствии с § 3 (4)." %}
                            <li>{% trans "Факт участия в лотерее означает ознакомление и согласие Участника с её условиями." %}
                        </ol>
                    </div>
                    <h2 class="accordion-header">{% trans "Исключение из розыгрыша" %}</h2>

                    <div class="accordion-content">
                        <ol>
                            <li>{% trans "К участию в розыгрыше исключены сотрудники компании EUROPARADISE d.o.o и их родственники." %}
                            <li>{% trans "В случае нарушения этих правил, компания имеет права исключить Участника." %}
                            <li>{% trans "Так же исключены лица, которые используют незаконные средства или путем манипуляций получили преимущества для участия в розыгрыше." %}
                            <li>{% trans "Участники, которые дали ложную личную информацию, могут быть тоже исключены из розыгрыша." %}
                        </ol>
                    </div>
                    <h2 class="accordion-header">{% trans "Порядок проведения розыгрыша" %}</h2>

                    <div class="accordion-content">
                        <ol>
                            <li>{% trans "День розыгрыша будет объявлен за 7 дней до начала. Розыгрыш проходит в телестудии, в присутствии зрителей и тиражной комиссии. Тиражная комиссия проверяет наличие полного комплекта шаров. Шары перемешиваются механическим способом (лототрон). Затем по очереди разыгрываются все туры. После завершения всех туров тиражная комиссия подтверждает, что розыгрыш проведен по всем правилам, и подписывает протокол." %}
                                {% trans "Победители будут уведомлены компанией EUROPARADISE по электронной почте, а так же будут размещены на сайте www.euro -paradise.com. С данной формой публикации победитель согласен." %}
                                {% trans "Если компании известен только электронный адрес победителя, победитель будет уведомлен по электронной почте. Победитель должен забрать свой приз в течение 6 месяцев со дня выигрыша. В противном случае приз снова будет разыгран." %}
                                {% trans "Для получения приза автомобиль и путешествие, могут применяться и более короткие сроки (см. (4) и (5))." %}
                            <li>{% trans "Разыгрываемые призы могут не совсем соответствовать выигрышному призу. Внешний вид, цвета и модели могут отличаться. Компания гарантирует, что выигрыш соответствует по цене и качеству с тем призом, который разыгрывался." %}
                            <li>{% trans "Призы (кроме автомобиля и путешествий) будут отправляться на почтовый адрес, указанным призёром. Почтовые расходы перенимает компания. В случае доставки приза курьером, курьер свяжется с призёром и обсудит с ним доставку. Если у призёра нет возможности принять приз персонально, он обязан указать адрес и имя человека, которому может быть доставлен приз." %}
                            <li>{% trans "В случае выигрыша автомобиля, призёру будет сообщено у какого авто-дилера он может забрать свой приз. Призёру будет указан определённый срок, в течение которого, он может забрать автомобиль. Если по истечению этого срока, автомобиль не был забран, приз будет снова разыгран. Все транспортные затраты, такие как налог, оформление и т.д. несёт призёр." %}
                            <li>{% trans "В случае выигрыша путешествия, весь процесс оформления передаётся туроператору или его уполномоченному и самому призёру. Если дата поездки ещё не указана в лотереи, то дату определяет туроператор или его уполномоченный. Призёр не имеет право на личный выбор даты поездки. Если призёр не воспользовался той датой поездки, которую ему предоставили, то поездка пропадает. С подтверждением тура призёр соглашается с условиями туроператора." %}
                                {% trans "Все затраты на проезд до и после начальной точки поездки (аэропорт, ж/д вокзал и т.д.) несёт призёр, а так же все затраты, которые не были ранее письменно оговорены с призёром (мини-бар, телефон и т. д)." %}
                            <li>{% trans "Денежные призы будут отправляться банковским переводом на указанный призёром счёт." %}
                            <li>{% trans "Если передача приза из-за серьёзных и обоснованных обстоятельств не возможна, призёр получает эквивалентную замену призу. Кроме того, призёр получит эквивалентную замену призу, если этот, в такой же реконструкции не доступен (сезонные товары, модель больше не производится и т.д.)" %}
                            <li>{% trans "Призёр несёт сам все затраты по прибытию и отбытию а так же все дополнительные туристические расходы (питание, ночлег и т.д.)." %}
                            <li>{% trans "Призёр не имеет права требовать получение денежного эквивалента вместо приза." %}
                            <li>{% trans "Право на получение приза и сам приз не может быть передан другому лицу." %}
                            <li>{% trans "Стоимость лотереи не будет возвращена." %}
                            <li>{% trans "Все жалобы связанные с розыгрышами лотерей отправляются письменно в течение 14 дней, после того, как стало известна причина, на адрес компании EUROPARADISE d.o.o., Kralja Nikole br. 108, Podgorica. Жалобы по телефону или с задержкой не будут приняты и рассмотрены." %}
                        </ol>
                    </div>
                    <h2 class="accordion-header">{% trans "Досрочное прекращение розыгрыша" %}</h2>

                    <div class="accordion-content">
                        <ol>
                            <li>{% trans "Компания EUROPARADISE d.o.o. оставляет за собой право, без предварительного уведомления и без объяснения причин, отменить любой розыгрыш в любое время (например из-за технических неполадок, манипуляций или ошибок в системе программного обеспечения а так же по юридическим причинам, которые препятствуют проведению розыгрыша). Если такое прекращение вызвано поведением участника, то компания имеет право потребовать компенсацию за ущерб от этого человека." %}
                            <li>{% trans "В случае отмены розыгрыша компания возмещает стоимость лотереи каждому, взымая 20% от стоимости лотереи за обработку документов." %}
                        </ol>
                    </div>
                    <h2 class="accordion-header">{% trans "Политика конфиденциальности" %}</h2>

                    <div class="accordion-content">
                        <p>
                            {% trans "Участие в этом конкурсе требует, чтобы вы при регистрации указали свое имя, фамилию, адрес, адрес электронной почты и страну проживания. Если между участником и компанией не предусматриваются иные правила, адреса электронной почты и другую личную информацию, которую участники предоставляют компании, не предоставляются другим лицам. Компания обязуется соблюдать правовые положения, касающихся защиты личных данных." %}
                        </p>
                    </div>
                    <h2 class="accordion-header">{% trans "Ответственность компании" %} EUROPARADISE d.o.o.</h2>

                    <div class="accordion-content">
                        <ol>
                            <li>{% trans "Если между участником и компанией не предусматриваются иные правила, то после того, как будет передан выигрыш призёру, компания не несёт никакой дальнейшей ответственности." %}
                            <li>{% trans "В розыгрыше путешествий компания не несёт никаких обязательств, в случае, если путешествие было отменено при законных обстоятельствах. Выплата денежного эквивалента стоимости поездки исключена." %}
                        </ol>
                    </div>
                    <h2 class="accordion-header">{% trans "Прочие условия" %}</h2>

                    <div class="accordion-content">
                        <ol>
                            <li>{% trans "Судебное разбирательство исключено." %}
                            <li>{% trans "Действует исключительно законодательство Черногории." %}
                            <li>{% trans "В случае, если какое-нибудь из выше указанных условий станет не действительным, то остальные условия остаются в силе." %}
                            <li>{% trans "Компания EUROPARADISE d.o.o имеет право изменить вышеуказанные условия в любое время без уведомления." %}
                        </ol>
                    </div>
                </div>
                <!--End Rules Accordion-->
            </div>
    </div>
    </div>
</div>
<!-- /.wrapsemibox end-->
<script>
    /* ---------------------------------------------------------------------- */
    /*	Accordion Rules
     /* ---------------------------------------------------------------------- */
    /*!
     */
    $(document).ready(function () {
        //Добавляем класс inactive остальным хэдерам
        $('.accordion-header').toggleClass('inactive-header');
        //Выбираем ширины аккордиона
        var contentwidth = $('.accordion-header').width();
        $('.accordion-content').css({'width': contentwidth });
        //Открывает первую секцию при прогрузке страницы
        $('.accordion-header').first().toggleClass('active-header').toggleClass('inactive-header');
        $('.accordion-content').first().slideDown().toggleClass('open-content');
        // Эффекты для аккордиончика ^.^
        $('.accordion-header').click(function () {
            if ($(this).is('.inactive-header')) {
                $('.active-header').toggleClass('active-header').toggleClass('inactive-header').next().slideToggle().toggleClass('open-content');
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }
            else {
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }
        });
        return false;
    });
</script>
{% endblock %}
