{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Официальный сайт лотереи Euro Paradise" %} {{ title }}{% endblock %}
{% block content %}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg hidden-480">
        <h1 class="animated fadeInLeftBig notransition">{% trans "Смена пароля" %}</h1>
    </div>
</section>
<!-- /.wrapsemibox start-->
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/st/img/shp.png" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12 box effect6 text-center">
                <h3 class="fontregular"><i class="icon-repeat"></i> {% trans "Смена пароля" %}</h3>
                    <form id="snpass_form" action="{{ request.path }}" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="pass" id="pass" placeholder="{% trans "Введите пароль" %}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" name="pass1" id="pass1" placeholder="{% trans "Повторите пароль" %}">
                        </div>
                        <br>
                        <button type="submit" class="bbtn btn-primary btn-lg btn-block submit">{% trans "Сменить пароль" %}</button>
                    </form>
        </div>
    </div>
</div>
{% endblock %}